<!DOCTYPE html>
<html lang="ko"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/config}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <link rel="stylesheet" th:href="@{/css/pages/member/mypage.css}" >


    <title>Dev-room</title>
</head>


<div layout:fragment="content">

<div>
    <form action="/devroom/reserve/reserve-pay" method="post">
        예약할 정보 확인
        <input name="selectDate" th:value="${selectDate}">
        <input name="reserveStartTime" th:value="${reserveStartTime}">
        <input name="reserveEndTime" th:value="${reserveEndTime}">
        <input name="sellerNo" th:value="${sellerNo}">
        <input name="memberNo" th:value="${memberNo}">
        <input name="roomNo" th:value="${roomNo}">
        <input name="optionNo" th:value="${optionNo}">

        <button>결제하기</button>
    </form>

</div>

</div>

</html>