<link rel="stylesheet" th:href="@{/css/seller/room-detail-update.css}">

    <div class="room-image-container">
        <!-- 썸네일 이미지 -->
        <div class="thumbnail-image-container" th:if="${thumbnailImage} != null">
            <input class="image-input" type="file" accept="images/*" name="image-edit" hidden>

            <img th:src="${filePath} + '/' + ${thumbnailImage.createdDate} + '/' + ${thumbnailImage.saveName}" th:alt="${thumbnailImage.originalName}" class="thumbnail-image image-js" th:data-image-no="${thumbnailImage.roomImageNo}">
            <div class="overlay"><i class="bi bi-image" style="font-size: 30px; line-height: 30px;"></i></div>
            <!-- 이미지 삭제 버튼 -->

        </div>

        <div class="thumbnail-image-container" th:unless="${thumbnailImage} != null">
            <button class="btn emphasize-btn" id="thumbnail-btn" style="width: 270px; height: 270px; ">썸네일 이미지</button>
            <input class="thumbnail-input" type="file" accept="images/*" name="thumbnailImage" hidden>
        </div>

        <!-- 추가 이미지 -->
        <div class="extra-images-wrap">
            <div class="extra-image-container" th:each="addImage : ${additionalImage}">
                <input th:value="${addImage.roomImageNo}" name="extraImageNo" hidden>
                <input class="image-input" type="file" accept="images/*" name="image-edit" hidden>

                <img class="extra-image image-js" th:src="${filePath} + '/' + ${addImage.createdDate} + '/' + ${addImage.saveName}" alt="none" th:data-image-no="${addImage.roomImageNo}">
                <!-- overlay -->
                <div class="overlay"><i class="bi bi-image" style="font-size: 20px; line-height: 20px;"></i></div>

                <button type="button" class="btn-close img-delete-btn" data-bs-toggle="modal" data-bs-target="" style="top: 3%; left: 82%; width:13px; height: 13px;" aria-label="Close"></button>
            </div>
            <div class="extra-image-container">
                <button class="btn extra-image-upload-btn">파일 선택</button>
                <input type="file" name="image-edit" id="upload-extra-images"  accept="images/*" multiple>
            </div>
        </div>
    </div>

<!-- 이미지 삭제 Modal -->
<div class="modal fade" id="image-delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">이미지 삭제</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input value="" name="click-image-no" hidden>
                <p>* 바로 삭제 됩니다 *</p>
                <p>사진을 삭제하시겠습니까?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary image-delete-click" data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        extraImageUploadAjax();
        deleteImageBtnConfirm();
        deleteImage();
        mouseHoverImageBlur();
        imageClickUpdateImages();
        thumbnailUploadAjax();
    });

    // 썸네일 이미지 업로드
    function thumbnailUploadAjax() {
        $('#thumbnail-btn').click(function() {
            $(this).siblings('.thumbnail-input').trigger('click');
        });

        $('.thumbnail-input').on('change', function () {
            let imageData = new FormData();
            const roomNo = $('input[name=roomNo]').val();

            const selectImage = $('input[name="thumbnailImage"]')[0].files[0];
            console.log("thumbnailImage select", selectImage);

            imageData.append('thumbnailImage', selectImage);
            imageData.append('roomNo', roomNo);
            $.ajax({
                type: "post", // 타입 (get, post, put 등등)
                url: "/seller/room/detail/upload/image",  // 요청할 서버url

                data: imageData,
                contentType: false, // 필수 옵션
                processData: false, // 필수 옵션
                success:  function(result) {
                    imagePosting();
                    $('.thumbnail-input').val('');
                },// 결과 성공 콜백함수

                error: function (request, status, error) {
                    console.log("get error Fail")
                }
            })

        })

    }
    
    // 새로운 추가 이미지 추가, 이미지 insert(upload)
    function extraImageUploadAjax() {
        $('.extra-image-upload-btn').click(function() {
            $(this).siblings('#upload-extra-images').trigger('click');
        });

        $('#upload-extra-images').on('change', function () {
            var imageData = new FormData();
            // roomNo
            const roomNo = $('input[name=roomNo]').val();
            console.log("roomNo : ", roomNo);

            // 파일 입력 요소 확인

            let files = $('#upload-extra-images')[0].files;
            console.log(files);
            if (files.length === 0) {
                console.log("파일이 선택되지 않았습니다.");
                return;
            }

            $.each(files, function (i, file) {
                imageData.append('extraImages', file);
                console.log(imageData.get('extraImages'));

            });

            imageData.append('roomNo', roomNo);

            $.ajax({
                type: "post", // 타입 (get, post, put 등등)
                url: "/seller/room/detail/upload/image",  // 요청할 서버url

                data: imageData,
                contentType: false, // 필수 옵션
                processData: false, // 필수 옵션
                success:  function(result) {
                    imagePosting();
                    $('#upload-extra-images').val('');
                },// 결과 성공 콜백함수

                error: function (request, status, error) {
                    console.log("get error Fail")
                }
            })
        })
    }


        // upload, update, delete 했을 때 ajax get 실행
        function imagePosting() {
            const roomNo = $('input[name=roomNo]').val();
            $.ajax({
                type: "get", // 타입 (get, post, put 등등)
                url: "/seller/images/update-images-ajax",  // 요청할 서버url
                dataType: "html", // 데이터 타입 (html, xml, json, text 등등)
                data: {
                    roomNo: roomNo
                },
                success:  function(result) {
                    console.log("imagePosting2 성공!");
                    $('.images-ajax').html(result);
                },// 결과 성공 콜백함수

                error: function (request, status, error) {
                    console.log("get error Fail");
                }
            })
        }

    // 이미지 삭제 확인 버튼
    function deleteImageBtnConfirm() {
        $('.img-delete-btn').click(function () {
            const imageContainer = $(this).closest('.thumbnail-image-container, .extra-image-container').find('.image-js');
            const imageNo = imageContainer.data('imageNo');

            $('input[name=click-image-no]').val(imageNo);

        })
    }

    //이미지 삭제
    function deleteImage() {
        $('.image-delete-click').click(function () {
            const imageNo = $('input[name=click-image-no]').val();
            console.log(imageNo);

            $.ajax({
                type: "post",           // 타입 (get, post, put 등등)
                url: "/room/image/delete",  // 요청할 서버url
                dataType: "html", // 데이터 타입 (html, xml, json, text 등등)
                data: {
                    imageNo: imageNo
                },
                success: function (result) { // 결과 성공 콜백함수
                    $(`img[data-image-no="${imageNo}"]`).closest('.extra-image-container').remove();
                },
                error: function (request, status, error) {
                    console.log("get error Fail")
                }
            })

        })
    }

    // 이미지 위에 마우스 올렸을 때 이벤트
    function mouseHoverImageBlur() {
        // extraImage
        const image = $('.image-js');

        image.on('mouseenter', function () {
            $(this).css('filter', 'blur(3px');
            $(this).siblings('.overlay').css('opacity', '1');
        })

        image.on('mouseleave', function () {
            $(this).css('filter', 'blur(0px)');
            $(this).siblings('.overlay').css('opacity', '0');
        })
    }

    // 이미지를 클릭했을 때 동작, 이미지 업데이트 함수
    function imageClickUpdateImages() {

        const image = $('.image-js');
        //이미지 클릭시 click 트리거 작동
        image.click(function() {
            $(this).siblings('.image-input').trigger('click');

        });


        // input에 이미지 값이 들어왔을 때 즉시 ajax post 동작
        $('.image-input').on('change', function() {
            const imageNo = $(this).siblings('.image-js').data('image-no');

            console.log("imageNo", imageNo);

            let imageData = new FormData();

            const image = this.files[0];

            if (image) {
                imageData.append('extraImage', image);
            }
            imageData.append('imageNo', imageNo);

            console.log(imageData.get('extraImage'));

            const clickedImage = $(this).siblings('.image-js');

            // 이미지 변경
            const file = this.files[0];

            if (file) {
                let render = new FileReader();
                render.onload = function(e) {
                    clickedImage.attr('src', e.target.result);
                };
                render.readAsDataURL(file);
            }

            $.ajax({
                type: "post",
                url: "/seller/room/detail/update/image",
                dataType: "html",
                data: imageData,
                contentType: false,
                processData: false,
                success: function(result) {
                    console.log("Image upload success");
                },
                error: function(request, status, error) {
                    console.log("Error uploading image: " + error);
                }
            });
        });
    }



/*]]>*/
</script>

