<!DOCTYPE html>
<html lang="ko"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/seller-config}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

    <link rel="stylesheet" href="/css/image.css">



    <title>Dev-room</title>

</head>

<div layout:fragment="seller-content">

    <div class="upload" style="width: 300px; height: 300px; border: 2px dashed #ccc; display: flex; align-content: center;">
        파일 드래그
    </div>

    <div id="img-preview" class="mb-3">
        <h1 style="padding: 10px 0 0 10px;">이미지</h1>
        <div class="preview-container"></div>
    </div>

</div>

<th:block layout:fragment="script">
    <script th:inline="javascript" type="text/javascript">
    $(document).ready(function() {





        // $dragDiv.on("dragover", function (event) {
        //     event.preventDefault();
        //     event.stopPropagation();
        //     $dragDiv.addClass("highlight");
        //     console.log("dragover");
        // })
        const $dragDiv = $('.upload');
        $dragDiv.on("dragenter", function (event) {
            event.preventDefault();
            event.stopPropagation();
            $dragDiv.addClass("highlight");
            console.log("dragenter");
        })


        $dragDiv.on("dragleave", function (event) {
            event.preventDefault();
            event.stopPropagation();
            $dragDiv.removeClass("highlight");
            console.log("dragleave");
        })

        $dragDiv.on("drop", function (event) {
            event.preventDefault();
            event.stopPropagation();
            $dragDiv.removeClass("highlight");
            console.log("드랍")
        })


        console.log("이미지 어레이 : ", imageArray);
        console.log("dpdpdp")
    });


    </script>
</th:block>

