<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/config}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <link rel="stylesheet" href="/css/auth.css"/>
    <title>Title</title>
</head>
<div layout:fragment="content">
    <div class="register-form mt-3">
        <h2>비밀번호 재설정</h2>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input th:value="${session.memberNo}" name="memberNo">
            <input type="text" class="form-control" id="password" name="password">
        </div>

        <div class="mb-3">
            <label for="memberValidPassword" class="form-label">비밀번호 확인</label>
            <input type="text" class="form-control" id="memberValidPassword" name="confirmPassword">
        </div>
        <button id="submit-btn" class="btn deep-green-btn float-end">확인</button>
    </div>

</div>

<th:block layout:fragment="script">
    <script src="/js/auth.js"></script>
    <script th:inline="javascript" type="text/javascript">


        $(document).ready(function(){
            $('#submit-btn').on('click', function () {
                changePasswordPost("/sharespot/member/change/password");
            })

        });
    </script>
</th:block>
</html>