<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/sharespot/reserve/reserve-info" method="post" class="time-form">
    <input th:name="roomNo" th:value="${roomNo}" hidden>
    <input th:name="optionNo" th:value="${optionNo}" hidden>
    <input th:name="selectDate" th:value="${selectDate}" hidden>
    <input th:name="authId" th:value="${authId}" hidden>
    <input th:name="sellerNo" th:value="${sellerNo}" hidden>

    <br>

    <div>
        <label>시작시간</label>
    </div>

    <div th:each="startTime : ${availableReserveTimes['start_time']}" class="radio-sort">
        <input type="radio" th:value="${startTime}" th:name="reserveStartTime" class="reservation-radio reservation-start-time">
    </div>

    <div>
        <label>종료시간</label>
    </div>

    <div th:each="endTime : ${availableReserveTimes['end_time']}" class="radio-sort">
        <input type="radio" th:value="${endTime}" th:name="reserveEndTime" class="reservation-radio reservation-end-time">
    </div>

    <button sec:authorize="isAuthenticated()" class="btn auto-size-btn deep-green-btn float-end">예약하기</button>

</form>

<script th:inline="javascript" type="text/javascript">
    $(document).ready(function () {
        reservationTimeException();
    })

    function reservationTimeException() {

        $('input[name="reserveStartTime"]').change(function () {
            let startTime = parseInt($('input[name="reserveStartTime"]:checked').val());
            let endTime = parseInt($('input[name="reserveEndTime"]:checked').val());

            console.log("startTime startTime : ", startTime);
            console.log("startTime endTime : ", endTime);

            if(startTime === endTime) {
                alert('시작 시간과 종료시간이 같을 수 없습니다.');
                $('input[name="reserveStartTime"]').prop('checked', false);
                $('input[name="reserveEndTime"]').prop('checked', false);
            } else if(startTime > endTime) {
                alert('시작 시간이 종료시간보다 작을 수 없습니다.');
                $('input[name="reserveStartTime"]').prop('checked', false);
                $('input[name="reserveEndTime"]').prop('checked', false);
            }
        })


        $('input[name="reserveEndTime"]').change(function () {
            let startTime = parseInt($('input[name="reserveStartTime"]:checked').val());
            let endTime = parseInt($('input[name="reserveEndTime"]:checked').val());

            console.log("startTime startTime : ", startTime);
            console.log("startTime endTime : ", endTime);


            if(startTime === endTime) {
                alert('시작 시간과 종료시간이 같을 수 없습니다.');
                $('input[name="reserveStartTime"]').prop('checked', false);
                $('input[name="reserveEndTime"]').prop('checked', false);
            }else if(startTime > endTime){
                alert('시작 시간이 종료시간보다 작을 수 없습니다.');
                $('input[name="reserveStartTime"]').prop('checked', false);
                $('input[name="reserveEndTime"]').prop('checked', false);
            }
        })
    }

</script>
</body>
</html>