/* option css*/
.option-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-box {
    display: flex;
    align-items: center;
}


.keyword-search-container {
    display: flex;
    height: 50px;
    margin: 0 0 0 20px;
}
.option-checkbox-container {
    margin: 0 20px 0 0;
}

.option-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
/* option css END*/

/* list css */
#list-container {
    width: 1300px;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 20px;
    padding: 5px;
    justify-content: center;
}

#room-container {
    padding: 20px 20px 0 20px;
}
#item-container {
    width: 78%;
    display: flex;
    background-color: #72b01d;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px 15px 0 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#item-content {
    width: 100%;
    padding: 11px;
    margin: 5px 0 0 0;
}

#item-content > span {
    display: block;
}

.pagination-container {
    margin: 20px;
}


.pagination-container {

    justify-content: center;
}

.option-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 0;
}