<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/member/register.css" />
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

<div class="register-container">
        회원가입
        <form action="/member/register" method="post">
            <div class="register-flex">
                <div>
                    <label>ID
                        <input class="form-control" name="memberId">
                    </label>
                </div>
                <div>
                    <label>Password
                        <input class="form-control" name="memberPw">
                    </label>
                </div>

                <div>
                    <label>Email
                        <input class="form-control" name="memberEmail">
                    </label>
                </div>

                <div>
                    <label>Name
                        <input class="form-control" name="memberName">
                    </label>
                </div>

                <div>
                    <label>Phone
                        <input class="form-control" name="memberPhone">
                    </label>
                </div>
            </div>
            <button>회원가입</button>
        </form>
    </div>
    <button >취소</button>
</body>
</html>