<!DOCTYPE html>
<html lang="ko"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/config}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <link rel="stylesheet" th:href="@{/css/member/mypage.css}" >


    <title>리스트 페이지</title>
</head>


<div layout:fragment="content">

회원 정보 수정
<div>
    <label> 아이디
        <input type="text" name="memberId" th:value="${memberInfo.getMemberId()}" readonly>
    </label>

    <label> 아이디
        <input type="text" name="memberId" th:value="${memberInfo.getMemberId()}" readonly>
    </label>
    <label> 현재 비밀번호
        <input type="text" name="memberId">
    </label>
    <label> 새 비밀번호
        <input type="text" name="memberId">
    </label>
    <label>  비밀번호 확인
        <input type="text" name="memberId">
    </label>

    <label> 이메일
        <input type="text" name="memberId" th:value="${memberInfo.getMemberEmail()}">
    </label>

    <label> 전화번호
        <input type="text" name="memberId" th:value="${memberInfo.getMemberPhone()}">
    </label>




</div>


</div>

</html>