<link rel="stylesheet" href="/css/seller/room-detail-update.css">

<!-- ajax로 불러오기 -->

<div class="option-container">
    <div th:each="optionInfoAndImage : ${optionInfoAndImage}" class="option-detail-container">
        <input th:value="${optionInfoAndImage.roptionNo}" hidden name="roptionNo">

        <!-- 옵션 이미지 -->
        <div class="option-image-container">
            <img th:data-roption-image-no="${optionInfoAndImage.roptionImageNo}" class="option-image" th:src="${filePath} + '/' + ${optionInfoAndImage.createdDate} + '/' + ${optionInfoAndImage.saveName}" th:alt="${optionInfoAndImage.originalName}" th:if="${optionInfoAndImage.roptionImageNo} != 0">
            <img class="option-image" src="https://www.dummyimage.com/200x200/000/fff" th:alt="${optionInfoAndImage.originalName}" th:unless="${optionInfoAndImage.roptionImageNo} != 0">
        </div>

        <div class="option-info-container">
            <div class="option-name-price-container">
                <label>옵션 이름
                    <input class="form-control" th:value="${optionInfoAndImage.roptionTitle}" name="roptionTitle" style="width: 300px">
                </label>
                <div style="margin: 10px"></div>
                <label>옵션 가격
                    <div class='input-group option-price' style="width: 150px;">
                        <input th:value="${optionInfoAndImage.roptionPrice}" name='roptionPrice' class='form-control'>
                        <span class='input-group-text' id='basic-addon2'>₩</span>
                    </div>
                </label>
            </div>

            <div class="option-content-container">
                <label>옵션 설명
                    <textarea class="form-control option-content" maxlength="100" th:text="${optionInfoAndImage.roptionContent}" style="resize: none; width: 370px; height: 135px"></textarea>
                </label>
            </div>
        </div>

        <button type="button" class="btn-close option-delete-btn" id="option-delete" data-bs-toggle="modal" data-bs-target="#option-delete-modal" aria-label="Close"></button>
    </div>
</div>


<!-- 옵션 추가 modal -->
<div class="modal fade" id="add-option-modal" tabindex="-1" aria-labelledby="addOptionModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addOptionModalLabel">옵션 추가</h1>
                <button type="button" class="btn-close option-modal-close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label style="margin: 0 0 15px 83px;"> 옵션 개수
                    <select name="optionSelection" id="option-selection" class="form-select">
                        <option value="0">개수 선택</option>
                    </select>
                </label>

                <!-- 옵션의 개수에 따라 옵션 input 생성 -->
                <div id="generateInputForm" style="display: flex; flex-direction: column; align-items: center;"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="option-close-btn" data-bs-dismiss="modal">아니요</button>
                <button type="button" class="btn btn-primary add-option-btn" disabled="disabled" data-bs-dismiss="modal">예</button>
            </div>
        </div>
    </div>
</div>

<!-- 옵션 삭제 Modal -->
<div class="modal fade" id="option-delete-modal" tabindex="-1" aria-labelledby="optionDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="optionDeleteModalLabel">방 삭제</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                옵션을 삭제하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니요</button>
                <button type="button" class="btn btn-primary room-delete-btn">예</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        generateOptions();
        generateOptionForm();
        optionModalClear();

        addOptionInfoAjaxPost();

    });

    const roomNo = $('input[name=roomNo]').val();

    // <select>의 <option> 생성
    function generateOptions() {
        let createCount = 6;
        let select = $("#option-selection");

        for (let i=1; i<= createCount; i++){
            let option = $("<option></option>").val(i).text(i);
            select.append(option);
        }
    }

    // 옵션 개수에 따라 입력칸 생성
    function generateOptionForm() {
        $("#option-selection").change(function (){
            let selectValue = $(this).val();
            console.log(selectValue);

            let inputForm = $("#generateInputForm");

            let html= "";

            if(selectValue === "0") {
                html += "";
                inputForm.html(html);
            }else {
                for (let i = 1; i <= selectValue; i++) {
                    html +=
                        "    <div class=\"add-option-container\">\n" +
                        "\n" +
                        "        <!-- 옵션 이미지 -->\n" +
                        "        <div class=\"option-image-container\">\n" +
                        "            <button type='button' class='option-img-add-btn'>이미지 선택</button>\n" +
                        "            <input class='add-option-img' type='file' name='addRoptionImage' hidden>\n" +
                        "        </div>\n" +
                        "\n" +
                        "        <div class=\"option-info-container\">\n" +
                        "            <div class=\"option-name-price-container\">\n" +
                        "                <label>옵션 이름\n" +
                        "                    <input class=\"form-control option-name-add\" name=\"addRoptionTitle\" style=\"width: 300px\">\n" +
                        "                </label>\n" +
                        "                <div style=\"margin: 10px\"></div>\n" +
                        "                <label>옵션 가격\n" +
                        "                    <div class='input-group option-price' style=\"width: 150px;\">\n" +
                        "                        <input name='addRoptionPrice' class='form-control option-price-add'>\n" +
                        "                        <span class='input-group-text' id='basic-addon2'>₩</span>\n" +
                        "                    </div>\n" +
                        "                </label>\n" +
                        "            </div>\n" +
                        "\n" +
                        "            <div class=\"option-content-container\">\n" +
                        "                <label>옵션 설명\n" +
                        "                    <textarea class=\"form-control option-content-add\" maxlength=\"100\" style=\"resize: none; width: 370px; height: 135px\"></textarea>\n" +
                        "                </label>\n" +
                        "            </div>\n" +
                        "        </div>\n" +
                        "\n" +
                        "    </div>"
                }
                inputForm.html(html);

                inputCheckEvent();
                addOptionImageBtnClick(); // 이미지

            }
        });
    }

    function inputCheckEvent() {
        $(".add-option-container input, .add-option-container textarea").on("keyup change", function () {
            checkOptionInputSubmit();
        });
    }

    function checkOptionInputSubmit() {
        let inputFilled = true;
        $(".add-option-container input, .add-option-container textarea").each(function () {
            if($(this).val() === "") {
                inputFilled = false;
                return false;
            }
        });

        if(inputFilled) {
            $(".add-option-btn").prop("disabled", false);
        } else {
            $(".add-option-btn").prop("disabled", true);
        }
        console.log("inputFilled", inputFilled);
    }


    function addOptionImageBtnClick() {
        $('.option-img-add-btn').click(function () {
            console.log("옵션이미지버튼 클릭")
            $(this).siblings('.add-option-img').trigger('click');
        })
    }

    // 옵션 추가 모달 닫을 때 초기화하기
    function optionModalClear() {
        $(".option-modal-close-btn").click(function () {
            $("#option-selection").val("0");

            let inputForm = $("#generateInputForm");
            inputForm.html("");
        })

        $('#option-close-btn').click(function () {
            $("#option-selection").val("0");

            let inputForm = $("#generateInputForm");
            inputForm.html("");
        })
    }



    function addOptionInfoAjaxPost() {
        $('.add-option-btn').click(function () {

            const optionDataArray = [];

            $('.add-option-container').each(function (index) {
                const title = $(this).find('input[name="addRoptionTitle"]').val();
                const price = $(this).find('input[name="addRoptionPrice"]').val();
                const content = $(this).find('.option-content-add').val();
                const image = $(this).find('.add-option-img')[0].files[0];

                const optionData = {
                    roomNo: roomNo,
                    title: title,
                    price: price,
                    content: content,
                    image: image
                };
                optionDataArray.push(optionData);
            });

            const formData = new FormData();

            optionDataArray.forEach((data) => {
                formData.append('roomNo', data.roomNo);
                formData.append('titles[]', data.title);
                formData.append('prices[]', data.price);
                formData.append('contents[]', data.content);
                formData.append('images[]', data.image);
            });

            console.log("optionDataArray:", optionDataArray);

            $.ajax({
                type: "post", // 타입 (get, post, put 등등)
                url: "/seller/room/update/add-option",  // 요청할 서버url
                data: formData,
                processData: false, // 중요: FormData 객체를 전송할 때는 이 옵션을 false로 설정해야 합니다.
                contentType: false,
                success:  function(result) {

                },// 결과 성공 콜백함수

                error: function (request, status, error) {
                    console.log("get error Fail")
                }
            })

        })

    }

    
/*]]>*/
</script>


