<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<header th:fragment="header">

    <div class="header-logo">
      <a href="/sharespot/main">
        <img src="/images/logo/share-spot-removebg-200x90.png">
      </a>
    </div>

    <div id="spotBtn" style="width: 80px; height: 45px; background-color: #3f7d20; display: flex; justify-content: center; align-items: center; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
      <a th:href="@{/sharespot/reserve/list/?page=1&recordSize=9&pageSize=5&keyword=&searchLocation=&searchDiv=}" style="font-size: 20px; color: #f3eff5;"> SPOT! </a>
    </div>

      <div class="mymenu-container" sec:authorize="isAnonymous()">
        <button class="mypage-btn">
          <span style="margin: 0 4px 0 0;"><i class="bi bi-list" style="font-size: 26px;"></i></span>
          <span style="margin: 0 0 0 4px;"><i class="bi bi-person" style="font-size: 26px"></i></span>
        </button>
        <div class="mypage-menu">
          <ul>
            <li><a style="width: 100%;" href="/sharespot/member/login"><div>로그인</div></a></li>
            <li><a href="/sharespot/member/register"><div>회원가입</div></a></li>
          </ul>
        </div>
      </div>

    <div class="mymenu-container" sec:authorize="isAuthenticated()">
      <button class="mypage-btn">
        <span style="margin: 0 4px 0 0;"><i class="bi bi-list fs-4"></i></span>
        <span style="margin: 0 0 0 4px;"><i class="bi bi-person-fill fs-4"></i></span>
      </button>
      <div class="mypage-menu" style="display: none;">
        <ul>
          <li><a href="/sharespot/mypage/reservation/list"><div>예약</div></a></li>
          <li><a href="/sharespot/mypage/bookmark/list"><div>북마크</div></a></li>
          <li><hr style="margin: 5px 0 5px 0;"></li>
          <li><a href="/sharespot/mypage"><div>마이페이지</div></a></li>
          <li><hr style="margin: 5px 0 5px 0;"></li>
          <li><a href="/sharespot/member/logout"><div>로그아웃</div></a></li>
        </ul>
      </div>
    </div>

  <script th:inline="javascript" type="text/javascript">

    $(document).ready(function(){
      mypageMenuToggle();
    });

    function mypageMenuToggle() {
      $('.mypage-menu').hide();

      $(document).on('click', function (event) {

        if(!$(event.target).closest('.mypage-btn').length) {
          $('.mypage-menu').hide();
        }
      })

      $('.mypage-btn').click(function () {
        $('.mypage-menu').toggle();
      })
    }
  </script>

</header>



</html>