<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:fragment="header">

  <nav>
    <div class="header-logo">
      <a href="/">Dev-room</a>
    </div>

    <ul class="header-ul">

      <li sec:authorize="isAnonymous()"><a href="/member/login">로그인</a></li>
      <li sec:authorize="isAuthenticated()"><a href="/member/logout">로그아웃</a></li>

      <li sec:authorize="isAuthenticated()"><a href="member/mypage">MYPAGE</a></li>


      <li>3</li>
    </ul>
  </nav>


</div>
</html>