<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:fragment="header">

  <nav>
    <div class="header-logo">
      <a href="/devroom/member/main"><img src="/images/logo/share-spot-removebg.png"></a>
    </div>

    <ul class="header-ul">
      <li sec:authorize="isAnonymous()"><a href="/devroom/member/login">로그인</a></li>
      <li sec:authorize="isAuthenticated()"><a href="/devroom/member/logout">로그아웃</a></li>
      <li sec:authorize="isAuthenticated()"><a href="/devroom/member/mypage">MYPAGE</a></li>
    </ul>
  </nav>


</div>
</html>