<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<aside th:fragment="seller-menu" sec:authorize="isAuthenticated()" class="seller-menu d-flex">
    <ul class="side-menu">
        <li class="menu-list" data-url="/seller/main">홈</li>
        <li class="menu-list" data-url="/seller/create/room/validate" >방등록</li>
        <li class="menu-list" data-url="/seller/room/list">방관리</li>
        <li class="menu-list" data-url="/seller/reserve/manage">예약관리</li>
    </ul>
</aside>

</html>

