<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/config}">
<head>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/pages/member/reservation-info.css}">
    <link rel="stylesheet" th:href="@{/css/pages/reserve/list.css}" >
    <title>ShareSpot</title>
</head>


<div layout:fragment="content">
    <div class="list-wrapper">
            <div id="list-container">
                <div th:each="bookmark : ${bookmarkList}" class="room-card" th:onclick="|location.href='@{/sharespot/reserve/detail(roomNo=${bookmark.roomNo})}'|">
                    <img th:src="${filePath} + '/' + ${bookmark.uploadDate} + '/' + ${bookmark.saveName}" th:alt="${bookmark.originalName}">
                    <div class="card-content">
                        <p class="card-title text-ellipsis" th:text="${bookmark.roomTitle}"></p>
                        <div class="card-div" th:switch="${bookmark.roomDiv}" style="font-size: 17px;">
                            <p th:case="'studyroom'">스터디룸</p>
                            <p th:case="'meeting'">회의실</p>
                            <p th:case="'office'">개인오피스</p>
                        </div>
                        <p class="card-address text-ellipsis" th:text="${bookmark.address} + ${bookmark.detailAddress}"></p>
                    </div>
                </div> <!-- room-container -->
            </div> <!-- list-container end -->

            <div class="pagination-container"></div>

        </div>





</div> <!-- layout:fragment="content" END -->

<th:block layout:fragment="script">
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function () {

        })


    </script>
</th:block>

</html>