#calendar {
    width: 450px;
}
#calendar table {
    width: 100%;
}

#calendar table > span {
    font-size: larger;
    font-weight: bolder;
    color: tomato;
    padding: 9px 9px;
}

#calendar table > tbody > tr > td {
    text-align: center;
    padding: 9px 9px;
}

#calendar table > tbody > tr > td > span {
    display: block;
    padding: 9px 9px;
    cursor: pointer;
}

.today {
    border-radius: 50%;
    color: white;
    background-color: tomato;
    padding: 8px 8px;
}

.date-click {
    border-radius: 50%;
    color: white;
    background-color: #72b01d;
    padding: 8px 8px;
}

.past-day{
    border-radius: 10px;
    background-color: dimgrey;
    color: white;
    pointer-events: none;
}

.calendar-header {
    width: 450px;
    position: relative;
    height: 50px;
    font-weight: bold;
    color: red;
    display: flex;
    justify-content: center;
}

.container-wrapper {
    display: flex;
    flex-direction: row;

}

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calendar-wrapper {
    margin: 0 0 0 10px;
}

.calendar-container > .calendar-header > .calendar-control {
    height: 10px;
    position: absolute;
    font-weight: bolder;

}

.calendar-container > .calendar-header > .calendar-control > button {

    width: 50px;
    border: 1px solid #cbcbcb;
    background-color: #fff;
    font-size: 12px;
    cursor: pointer;
}


.calendar-yearmonth {
    position: relative;
    font-size: larger;
    line-height: 50px;
}
