*{
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

html, body {
    height: 100vh;
}

.wrap {
    min-height: 100vh;
    position: relative;
}

.seller-container {
    margin-top: 10px;
    display: flex;

}

.seller-container-wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 1080px;
    overflow: auto;
}

