.header-ul {
    list-style: none;
    display: flex;
}

.header-ul > li {
    display: flex;
    float: left;
}

.header-logo {
    margin: 20px;
}
.header-logo > a {
    font-size: 40px;
}

.nav > a {
    text-decoration: none;
}
nav {
    position: relative;
    width: auto;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.mypage-menu > ul {
    padding: 0;
    margin: 10px;

}

.mypage-menu > ul > li {
    margin: 5px 0 0 0;
}



#spotBtn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.mypage-btn {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: inherit;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 24px;
    width: 100px;
    height: 45px;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.mypage-btn:hover {
    opacity: 0.6;

}

.mymenu-container {
    position: relative;

}

.mypage-menu {
    top: 52px;
    width: 230px;
    height: auto;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 999;
    right: 18px;
}