.li-style {
    margin-bottom: 10px;
}
.li-header-style {
    font-size: 25px;

}

.mypage-side-menu {
    width: 250px;
    height: auto;
    background-color: yellowgreen;
}

.mypage-container {
    width: 1100px;
    background-color: turquoise;
}