<!DOCTYPE html>
<html lang="ko"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/seller-config}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>


    <link rel="stylesheet" th:href="@{/css/seller/room-create.css}" >


    <title>Dev-room</title>
</head>


<div layout:fragment="seller-content">
<!--    <button><a th:href="@{/room/create/image(roomNo = ${roomNo}, roomOptionNo = {})}">이미지 수정</a></button>-->
    <div class="verification-container">
        <div class="count-container">
            <span class="room-count" th:text="${checkRoomCount} + '/' + '12' "></span>
        </div>
        <button class="btn emphasize-btn verification-btn-style" onclick="location.href='/seller/room/create'">등록하기</button>
    </div>
</div>



<th:block layout:fragment="script">
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function() {

            menuListColor();
            createButtonActivate();
        });

        function createButtonActivate() {
            const checkRoomCount = [[ ${checkRoomCount} ]];
            if(checkRoomCount === 12) {
                $(".verification-btn-style").prop("disabled", true);
            }else {
                $(".verification-btn-style").prop("disabled", false);
            }
        }

        function menuListColor() {
            $('.room-create').css({
                'background-color': '#F3EFF5',
                'color': '#0D0A0B',
                'border-radius': '5px'
            });
        }

    </script>
</th:block>
</html>

