<!DOCTYPE html>
<html lang="ko"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/seller-config}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <link rel="stylesheet" th:href="@{/css/seller/room-create.css}" >


    <title>Dev-room</title>
    <link rel="stylesheet" href="../../../static/css/seller-footer.css">
</head>


<div layout:fragment="seller-content">

    <h1>방등록</h1>

    <div class="create-form-container">
        <input th:value="${sellerNo}" type="hidden">

        <div style="margin-bottom: 5px;">
            <label for="exampleFormControlInput1" class="form-label">업체명</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="업체이름" name="roomTitle">
        </div>
        <div style="margin-bottom: 5px;">
            <label for="exampleFormControlTextarea1" class="form-label">업체 설명</label>
            <textarea class="form-control room-content" id="exampleFormControlTextarea1" rows="7" maxlength="100" name="roomContent"></textarea>

            <div class="text-count-container">
                <p class="text-count">
                    <span id="text-count"></span>
                    <span class="text-slash">/</span>
                    <span id="text-maxlength"></span>
                </p>
            </div>
        </div>

        <div style="margin-bottom: 10px;">
            <label> 업체 구분
                <select class="form-select" name="roomDiv" id="room-div" style="width: 130px; text-align-last: center;">
                    <option value="">선택</option>
                    <option value="studyroom">스터디룸</option>
                    <option value="meeting">회의실</option>
                    <option value="office">사무실</option>
                </select>
            </label>
        </div>

        <div class="address-container" style="margin-bottom: 10px">
            <label class="form-label"> 주소
                <div class="address-find-sort">
                    <input type="text" class="form-control" id="sample6_postcode" placeholder="우편번호" name="postCode">
                    <input type="button" class="btn normal-btn" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                </div>
                <input type="text" class="form-control" id="sample6_address" placeholder="주소" name="address"><br>
                <input type="text" class="form-control" id="sample6_detailAddress" placeholder="상세주소" name="detailAddress" style="margin-bottom: 3px">
                <input type="text" class="form-control" id="sample6_extraAddress" placeholder="참고항목" name="extraAddress" style="width: 175px">
            </label>
        </div>
        <button class="emphasize-btn btn next-btn-style" id="next-step" disabled>다음 단계</button>
    </div>
    <div id="room-option-form-container"></div>

</div>

<th:block layout:fragment="script">
    <script th:inline="javascript" type="text/javascript" src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function() {
            menuListColor();
            roomContentTextCount();
            nextButtonClick();
            nextButtonActivate();

        });
        // 메뉴 리스트 색상 변경
        function menuListColor() {
            $('.room-create').css({
                'background-color': '#F3EFF5',
                'color': '#0D0A0B',
                'border-radius': '5px'
            });
        }

        //
        function roomContentTextCount() {

            const roomContent = $('.room-content');
            let findMaxLength = parseInt(roomContent.attr('maxLength'));

            $('#text-count').text(findMaxLength);
            $('#text-maxlength').text(findMaxLength);


            // room-content에 입력 이벤트가 발생했을 때
            roomContent.on('input', function (){

                let currentLength = $(this).val().length; //현재 글자 수


                // 현재 글자수가 최대 글자 수를 넘지 않았을 경우
                if(currentLength <= findMaxLength) {
                    $('#text-count').text(findMaxLength - currentLength);
                }else {
                    $(this).val($(this).val().substring(0, findMaxLength));
                }

                if(findMaxLength - currentLength === 0 ) {
                    $('#text-count').css('color', 'red');
                    $('#text-maxlength').css('color', 'red');
                    $('.text-slash').css('color', 'red');
                } else {
                    $('#text-count').css('color', 'black');
                    $('#text-maxlength').css('color', 'black');
                    $('.text-slash').css('color', 'black');
                }


            })
        }
        // 주소 찾기 함수
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("sample6_extraAddress").value = extraAddr;

                    } else {
                        document.getElementById("sample6_extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("sample6_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample6_detailAddress").focus();
                }
            }).open();
        }

        const roomTitle = $("input[name='roomTitle']");
        const roomContent = $("textarea[name='roomContent']");
        const roomDiv = $("#room-div");


        const roomPostCode =$("input[name='postCode']");
        const roomAddress = $("input[name='address']");
        const roomDetailAddress = $("input[name='detailAddress']");
        const roomExtraAddress = $("input[name='extraAddress']");
        const nextStepButton = $("#next-step");

        function nextButtonActivate() {
            $("input[name='roomTitle'], input[name='roomContent'], input[name='roomDiv'], input[name='postCode'], input[name='address'], input[name='detailAddress'], input[name='extraAddress']").on('input', function () {
                let checkValue = roomTitle.val().trim() !== "" &&
                    roomContent.val().trim() !== "" &&
                    roomDiv.val().trim() !== "" &&
                    roomPostCode.val().trim() !== "" &&
                    roomAddress.val().trim() !== "" &&
                    roomDetailAddress.val().trim() !== "";

                nextStepButton.prop('disabled', !checkValue);

            })
        }

        function nextButtonClick() {

            const sellerNo = [[ ${sellerNo} ]];


            nextStepButton.click(function () {
                let postData = {
                    roomTitle: roomTitle.val(),
                    roomContent: roomContent.val(),
                    roomDiv: roomDiv.val(),
                    sellerNo: sellerNo,
                    address: roomAddress.val(),
                    postCode: roomPostCode.val(),
                    detailAddress: roomDetailAddress.val(),
                    extraAddress: roomExtraAddress.val()
                };
                console.log(postData);

                $.ajax({
                    type: "POST",
                    url: "/seller/room/create",
                    data: JSON.stringify(postData),
                    contentType: "application/json",
                    success: function (result) {
                        console.log("Data Post Success");
                        $.ajax({
                            type: "GET",           // 타입 (get, post, put 등등)
                            url: "/seller/room/option-create",  // 요청할 서버url
                            dataType: "html",       // 데이터 타입 (html, xml, json, text 등등)
                            success: function (result) { // 결과 성공 콜백함수
                                $(".create-form-container").hide();

                                $("#room-option-form-container").html(result)
                            },
                            error: function (request, status, error) {
                                console.log("get error Fail")
                            }
                        })
                    }
                });
            })





        }


    </script>
</th:block>
</html>

