<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/seller-config}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <link rel="stylesheet" th:href="@{/css/seller/room-list.css}">


    <title>ShareSpot</title>
</head>

<div layout:fragment="seller-content">
    <div class="room-list-container">
        <!--  roomList 3x3 box  -->
        <div class="room-list-grid">
            <div class="list-item" th:each="roomList : ${roomList}" th:onclick="|location.href='@{/seller/room/detail(roomNo=${roomList.roomNo})}'|">
                <div class="list-item-inner">
                    <div>
                        <span>
                            <span th:text="${roomList.roomTitle}" style="font-size: 35px;"></span>
                        </span>
                    </div>

                    <div>
                        <span>
                            <span th:switch="${roomList.roomDiv}">
                                <span th:case="'studyroom'" style="font-size: 20px;">스터디룸</span>
                                <span th:case="'meeting'" style="font-size: 20px;">회의실</span>
                                <span th:case="'office'" style="font-size: 20px;">개인 오피스</span>
                            </span>
                        </span>
                    </div>

                    <div>
                        <span style="font-size: 20px;">옵션 개수 :
                            <span th:text="${roomList.cnt} + '개'" style="font-size: 20px;"></span>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function() {
            menuListColor();
        });

        function menuListColor() {
            $('.room-manage').css({
                'background-color': '#F3EFF5',
                'color': '#0D0A0B',
                'border-radius': '5px'
            });
        }

    </script>
</th:block>
</html>