<!DOCTYPE html>
<html lang="ko"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/seller-config}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>


    <link rel="stylesheet" th:href="@{/css/seller/room-detail-update.css}">

    <title>Dev-room</title>
</head>


<div layout:fragment="seller-content">

    <div class="detail-wrap">

        <h2>방 수정</h2>

        <div class="ajax-form-container">
            <!-- 방 번호 -->
            <input th:value="${roomInfo.roomNo}" name="roomNo" hidden>

            <div class="room-container">
                <div class="room-info-container">
                    <label for="room-title">방 이름
                        <input id="room-title" class="form-control" th:value="${roomInfo.roomTitle}" name="roomTitle">
                    </label>

                    <label for="room-content">방 설명
                        <input id="room-content" class="form-control" th:value="${roomInfo.roomContent}" name="roomContent">
                    </label>

                    <label for="room-div">업체 구분
                        <select class="form-select" name="roomDiv" id="room-div">
                            <option value="studyroom">스터디룸</option>
                            <option value="metting">회의실</option>
                            <option value="office">사무실</option>
                        </select>
                    </label>
                    <!-- 주소  -->

                    <div class="address-container" style="margin-bottom: 10px">
                        <label class="form-label"> 주소
                            <div class="address-find-sort">
                                <input type="text" class="form-control" id="sample6_postcode" placeholder="우편번호" name="postCode" th:value="${roomInfo.postCode}">
                                <input type="button" class="btn normal-btn" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                            </div>
                            <input type="text" class="form-control" id="sample6_address" placeholder="주소" name="address" th:value="${roomInfo.address}"><br>
                            <input type="text" class="form-control" id="sample6_detailAddress" placeholder="상세주소" name="roomDetailAddr" style="margin-bottom: 3px" th:value="${roomInfo.detailAddress}">
                            <input type="text" class="form-control" id="sample6_extraAddress" placeholder="참고항목" name="roomExtraAddr" style="width: 175px" th:value="${roomInfo.extraAddress}">
                        </label>
                    </div>

                </div> <!-- room-container END -->


                <div class="room-image-container">
                    <p>* 이미지는 바로 변경됩니다 *</p>
                    <div class="thumbnail-image-container">
                        <input class="image-input" type="file" accept="images/*" name="thumbnailImage" hidden>

                        <img th:if="${thumbnailImage} != null" th:src="${filePath} + '/' + ${thumbnailImage.createDate} + '/' + ${thumbnailImage.saveName}" th:alt="${thumbnailImage.originalName}" class="thumbnail-image image-js" th:data-image-no="${thumbnailImage.roomImageNo}">
                        <img th:unless="${thumbnailImage} != null" class="image-input image-js" src="https://www.dummyimage.com/200x200/000/fff" alt="none">

                        <div class="overlay"><i class="bi bi-image" style="font-size: 30px; line-height: 30px;"></i></div>

                        <button type="button" class="btn-close img-delete-btn" data-bs-toggle="modal" data-bs-target="#image-delete-modal" aria-label="Close" style="left: 91%; top: 1%;"></button>
                    </div>

                    <!-- 추가 이미지 -->
                    <div class="images-ajax"></div>

                </div> <!-- room-image-container END -->



            </div> <!-- room-container END -->

            <hr>

            <h2>옵션 정보</h2>
            <div class="option-container">
                <div th:each="optionInfoAndImage : ${optionInfoAndImage}" class="option-detail-container">
                    <input th:value="${optionInfoAndImage.roptionNo}" hidden name="roptionNo">

                    <!-- 옵션 이미지 -->
                    <div class="option-image-container">
                        <img th:data-roption-image-no="${optionInfoAndImage.roptionImageNo}" class="option-image" th:src="${filePath} + '/' + ${optionInfoAndImage.createdDate} + '/' + ${optionInfoAndImage.saveName}" th:alt="${optionInfoAndImage.originalName}" th:if="${optionInfoAndImage.roptionImageNo} != 0">
                        <img class="option-image" src="https://www.dummyimage.com/200x200/000/fff" th:alt="${optionInfoAndImage.originalName}" th:unless="${optionInfoAndImage.roptionImageNo} != 0">
                    </div>

                    <div class="option-info-container">
                        <div class="option-name-price-container">
                            <label>옵션 이름
                                <input class="form-control" th:value="${optionInfoAndImage.roptionTitle}" name="roptionTitle" style="width: 300px">
                            </label>

                            <label>옵션 가격
                                <div class='input-group option-price' style="width: 150px;">
                                    <input th:value="${optionInfoAndImage.roptionPrice}" name='roptionPrice' class='form-control'>
                                    <span class='input-group-text' id='basic-addon2'>₩</span>
                                </div>
                            </label>
                        </div>

                        <div class="option-content-container">
                            <label>옵션 설명
                                <textarea class="form-control" maxlength="100" th:value="${optionInfoAndImage.roptionContent}" name="roptionContent" style="resize: none; width: 300px; height: 100px"></textarea>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div style="float: right; margin: 40px 0 0 0;">
                <button class="btn btn-danger room-delete-button">방 삭제</button>
                <button type="submit" class="btn emphasize-btn update-btn">수정완료</button>
            </div>
        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="image-delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input value="" name="click-image-no" hidden>
                    <p>* 바로 삭제 됩니다 *</p>
                    <p>사진을 삭제하시겠습니까?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary image-delete-click" data-bs-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript" type="text/javascript" src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            divValue();



            const roomNo = $('input[name=roomNo]').val();
            $.ajax({
                type: "get", // 타입 (get, post, put 등등)
                url: "/seller/room/detail/images",  // 요청할 서버url
                dataType: "html", // 데이터 타입 (html, xml, json, text 등등)
                data: {
                    roomNo: roomNo
                },
                success:  function(result) {
                    console.log("imagePosting2 성공!");
                    $('.images-ajax').html(result);
                },// 결과 성공 콜백함수

                error: function (request, status, error) {
                    console.log("get error Fail");
                }
            })

            updateInfo();
        });

        function divValue() {
            const roomDivValue = [[ ${roomInfo.roomDiv}]];
            console.log(roomDivValue);
            $('select[name="roomDiv"] option').prop('selected', false);
            $('select[name="roomDiv"] option[value = "' + roomDivValue +'"]').prop('selected', true);
        }

        function updateInfo() {

            $('.update-btn').click(function () {

                const roomInfo = $(".ajax-form-container").map(function () {
                    const $roomVal = $(this);

                    return {
                        roomNo : $roomVal.find("input[name='roomNo']").val(),
                        roomTitle : $roomVal.find("input[name='roomTitle']").val(),
                        roomContent :  $roomVal.find("input[name='roomContent']").val(),
                        roomDiv :  $roomVal.find("#room-div").val()
                    };

                }).get();
                console.log("roomInfo", roomInfo);

                //optionData
                const optionList = $(".option-detail-container").map(function() {

                    const $option = $(this);

                    return {
                        roptionNo: $option.find("input[name='roptionNo']").val(),
                        roptionTitle: $option.find("input[name='roptionTitle']").val(),
                        roptionPrice: $option.find("input[name='roptionPrice']").val(),
                        roptionContent: $option.find("input[name='roptionContent']").val(),
                    };

                }).get();

                console.log("optionList : " + optionList);


                $.ajax({
                    type: "post", // 타입 (get, post, put 등등)
                    url: "/seller/room/detail/update",  // 요청할 서버url
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify({ roomInfo, optionList }),

                    success:  function(result) {
                        console.log("AJAX 성공:", result);
                        // location.href = "/seller/room/list";
                    },// 결과 성공 콜백함수

                    error: function (request, status, error) {
                        console.log("/seller/room/detail/update ajax Fail");
                        console.log("Status : " + status);
                    }
                })
            })
        }

        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("sample6_extraAddress").value = extraAddr;

                    } else {
                        document.getElementById("sample6_extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("sample6_address").value = addr;

                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample6_detailAddress").value='';
                    document.getElementById("sample6_detailAddress").focus();
                }
            }).open();
        }
    /*]]>*/
    </script>
</th:block>
</html>