<!DOCTYPE html>
<html lang="ko"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/seller-config}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

    <link rel="stylesheet" th:href="@{/css/seller/room-detail.css}">

    <title>Dev-room</title>
</head>


<div layout:fragment="seller-content">

    <div class="detail-wrap">

        <h2>방 수정</h2>

        <form action="/seller/room/detail/update" method="post" autocomplete="off" enctype="multipart/form-data">
            <div class="room-container">
                <div class="room-info-container">
                    <label for="room-title">방 이름
                        <input id="room-title" class="form-control" th:value="${roomInfo.roomTitle}" name="roomTitle">
                    </label>

                    <label for="room-content">방 설명
                        <input id="room-content" class="form-control" th:value="${roomInfo.roomContent}" name="roomContent">
                    </label>

                    <label for="room-div">업체 구분
                        <select class="form-select" name="roomDiv" id="room-div">
                            <option value="studyroom">스터디룸</option>
                            <option value="metting">회의실</option>
                            <option value="office">사무실</option>
                        </select>
                    </label>
                    <!-- 주소  -->
                    <label for="room-address">주소
                        <span id="room-address" th:text="${roomInfo.address + ' ' +roomInfo.detailAddress}"></span>
                    </label>
                </div> <!-- room-container END -->

                <div class="room-image-container">

                    <div class="thumbnail-image-container">
                        <img th:if="${thumbnailImage} != null" th:src="${filePath} + '/' + ${thumbnailImage.createDate} + '/' + ${thumbnailImage.saveName}" th:alt="${thumbnailImage.originalName}" class="thumbnail-image" th:data-thumbnail-image="${thumbnailImage.roomImageNo}">
                        <img th:unless="${thumbnailImage} != null" class="thumbnail-image" src="https://www.dummyimage.com/200x200/000/fff" alt="none">
                        <div class="overlay"><i class="bi bi-image" style="font-size: 30px; line-height: 30px;"></i></div>
                        <button type="button" class="btn-close img-delete-btn" aria-label="Close" style="left: 91%; top: 1%;"></button>
                        <input id="thumbnail-input" type="file" accept="images/*" hidden>
                    </div>

                    <!-- 추가 이미지 -->
                    <div class="extra-images-container">
                        <div class="extra-image-div" th:each="addImage : ${additionalImage}">
                            <img  class="extra-image" th:src="${filePath} + '/' + ${addImage.createDate} + '/' + ${addImage.saveName}" alt="none" th:data-addimage-no="${addImage.roomImageNo}">
                            <button type="button" class="btn-close img-delete-btn" style="top: 3%; left: 82%; width:13px; height: 13px;" aria-label="Close"></button>
                        </div>
                    </div>
                </div> <!-- room-image-container END -->
            </div> <!-- room-container END -->

            <hr>

            <h2>옵션 정보</h2>
            <div class="option-container">
                <div th:each="optionInfoAndImage : ${optionInfoAndImage}" class="option-detail-container">
                    <input th:value="${optionInfoAndImage.roptionNo}" hidden>

                    <!-- 옵션 이미지 -->
                    <div class="option-image-container">
                        <img th:data-roption-image-no="${optionInfoAndImage.roptionImageNo}" class="option-image" th:src="${filePath} + '/' + ${optionInfoAndImage.createdDate} + '/' + ${optionInfoAndImage.saveName}" th:alt="${optionInfoAndImage.originalName}" th:if="${optionInfoAndImage.roptionImageNo} != 0">
                        <img class="option-image" src="https://www.dummyimage.com/200x200/000/fff" th:alt="${optionInfoAndImage.originalName}" th:unless="${optionInfoAndImage.roptionImageNo} != 0">
                    </div>

                    <div class="option-info-container">
                        <div class="option-name-price-container">
                            <label>옵션 이름
                                <input class="form-control" th:value="${optionInfoAndImage.roptionTitle}" name="roptionTitle" style="width: 300px">
                            </label>

                            <label>옵션 가격
                                <div class='input-group option-price' style="width: 150px;">
                                    <input th:value="${optionInfoAndImage.roptionPrice}" name='roptionPrice' class='form-control'>
                                    <span class='input-group-text' id='basic-addon2'>₩</span>
                                </div>
                            </label>
                        </div>

                        <div class="option-content-container">
                            <label>옵션 설명
                                <textarea class="form-control" maxlength="100" th:value="${optionInfoAndImage.roptionContent}" name="roptionContent" style="resize: none; width: 300px; height: 100px"></textarea>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div style="float: right; margin: 40px 0 0 0;">
                <button class="btn btn-danger room-delete-button">방 삭제</button>
                <button class="btn emphasize-btn">수정완료</button>
            </div>

        </form>
    </div>



</div>

<th:block layout:fragment="script">
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function() {
            deleteRoomButton();
            controllerDivValue();
            thumbnailImageChick();
            mouseHoverImageBlur();
        });


        function controllerDivValue() {
            const roomDivValue = [[ ${roomInfo.roomDiv}]];
            console.log(roomDivValue);
            $(".room-div").val();
        }

        function deleteRoomButton() {
            $(".room-delete-button").click(function (){
                if(confirm("방을 삭제하시겠습니까?")) {
                    $.ajax({
                        type: "delete",           // 타입 (get, post, put 등등)
                        url: "/seller/room/delete",  // 요청할 서버url
                        dataType: "html", // 데이터 타입 (html, xml, json, text 등등)
                        data: {
                            roomNo: [[${roomNo}]]
                        },
                        success: function (result) { // 결과 성공 콜백함수
                            window.location.href = "/seller/room/list";
                        },
                        error: function (request, status, error) {
                            console.log("get error Fail")
                        }
                    })
                }
            })
        }

        function mouseHoverImageBlur() {
            const thumbnailImage = $('.thumbnail-image');
            const overlay = $('.overlay');

            thumbnailImage.on('mouseenter', function () {
                thumbnailImage.css('filter', 'blur(3px)');
                overlay.css('opacity', '1');
            })

            thumbnailImage.on('mouseleave', function () {
                thumbnailImage.css('filter', 'blur(0px)');
                overlay.css('opacity', '0');
            })
        }
        function thumbnailImageChick() {
            $('.thumbnail-image').click(function () {
                $('#thumbnail-input').click();
            })

            $('#thumbnail-input').change(function () {
                var thumbnail = this.files[0];
                if(thumbnail) {
                    let render = new FileReader();
                    render.onload = function (e) {
                        $('.thumbnail-image').attr('src', e.target.result);
                    }

                    render.readAsDataURL(thumbnail);
                }
            })
        }
    </script>
</th:block>
</html>