<!DOCTYPE html>
<html lang="ko"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/seller-config}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

    <link rel="stylesheet" th:href="@{/css/seller/room-detail.css}">

    <title>Dev-room</title>
</head>


<div layout:fragment="seller-content">

    <div class="detail-wrap">

        <h2>방 정보</h2>
        <form>
        <div class="room-container">
            <div class="room-info-container">
                <label> 방 이름 :
                    <input th:value="${roomInfo.roomTitle}" name="roomTitle">
                </label>

                <label> 방 설명 :
                    <input th:value="${roomInfo.roomContent}" name="roomContent">
                </label>

                <label> 업체 구분
                    <select name="roomDiv" id="room-div">
                        <option value="studyroom">스터디룸</option>
                        <option value="metting">회의실</option>
                        <option value="office">사무실</option>
                    </select>
                </label>

                <label>주소 :
                    <span th:text="${roomInfo.address + ' ' +roomInfo.detailAddress}"></span>
                </label>
            </div> <!-- room-container END -->

            <div class="room-image-container">
                <div class="thumbnail-image-container">
                    <input type="file" accept="images/*">
                    <img th:if="${thumbnailImage} != null" th:src="${filePath} + '/' + ${thumbnailImage.createDate} + '/' + ${thumbnailImage.saveName}" th:alt="${thumbnailImage.originalName}" class="thumbnail-image">
                    <img th:unless="${thumbnailImage} != null" class="thumbnail-image" src="https://www.dummyimage.com/200x200/000/fff" alt="none">

                </div>

                <!-- 썸네일 아닌 이미지 -->
                <div class="extra-images-container">
                    <img th:each="addImage : ${additionalImage}" class="extra-image" th:src="${filePath} + '/' + ${addImage.createDate} + '/' + ${addImage.saveName}" alt="none">
                </div>
            </div> <!-- room-image-container END -->

        </div> <!-- room-container END -->

        <hr>

        <h2>옵션 정보</h2>
        <div class="option-container">
            <div th:each="optionInfoAndImage : ${optionInfoAndImage}" class="option-detail-container">
                <div class="option-image-container">
                    <img class="option-image" th:src="${filePath} + '/' + ${optionInfoAndImage.createdDate} + '/' + ${optionInfoAndImage.saveName}" th:alt="${optionInfoAndImage.originalName}" th:if="${optionInfoAndImage.roptionImageNo} != 0">
                    <img class="option-image" src="https://www.dummyimage.com/200x200/000/fff" th:alt="${optionInfoAndImage.originalName}" th:unless="${optionInfoAndImage.roptionImageNo} != 0">
                </div>

                <div class="option-info-container">
                    <label>옵션 이름 :
                        <input th:value="${optionInfoAndImage.roptionTitle}" name="roptionTitle">
                    </label>

                    <label>옵션 설명 :
                        <input th:value="${optionInfoAndImage.roptionContent}" name="roptionContent">
                    </label>

                    <label>옵션 가격 :
                        <input th:value="${optionInfoAndImage.roptionPrice}" name="roptionPrice">
                    </label>
                </div>
            </div>
        </div>


    <div style="float: right; margin: 10px 0 0 0;">

        <button class="btn btn-danger room-delete-button">방 삭제</button>
        <button class="btn emphasize-btn">수정완료</button>
    </div>
    </form>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function() {
            deleteRoomButton();
            controllerDivValue();
        });


        function controllerDivValue() {
            const roomDivValue = [[ ${roomInfo.roomDiv}]];
            console.log(roomDivValue);
            $(".room-div").val();
        }

        function deleteRoomButton() {
            $(".room-delete-button").click(function (){
                if(confirm("방을 삭제하시겠습니까?")) {
                    $.ajax({
                        type: "POST",           // 타입 (get, post, put 등등)
                        url: "/seller/room/delete",  // 요청할 서버url
                        dataType: "html", // 데이터 타입 (html, xml, json, text 등등)
                        data: {
                            roomNo: [[${roomNo}]]
                        },
                        success: function (result) { // 결과 성공 콜백함수
                            window.location.href = "/seller/room/list";
                        },
                        error: function (request, status, error) {
                            console.log("get error Fail")
                        }
                    })
                }
            })
        }

    </script>
</th:block>
</html>