<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/config}">
<head>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/member/reservation-info.css}">
    <title>ShareSpot</title>
</head>


<div layout:fragment="content">

    <div class="content-middle-container">

        북마크 테스트

    </div>



</div> <!-- layout:fragment="content" END -->

<th:block layout:fragment="script">
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function () {

        })


    </script>
</th:block>

</html>