#div1-container {
    width: 100%;
    height: 400px;
    background-color: wheat;
    display: flex;
    justify-content: center;
}

#div1-inner-content{
    width: 900px;
    height: 400px;
    background-color: tomato;
    padding: 10px;
    border: 1px solid;
}

#div1-inner-map{
    width: 400px;
    height: 400px;
    background-color: yellowgreen;
    padding: 10px;
    border: 1px solid;
}

#div2-container {
    width: 100%;
    height: 700px;
    background-color: tan;
}

.option-title {
    flex-direction: column;
}

.reserveOptionAjax{
    float: left;
}
#option-container {
    width: 400px;
    border-right: 1px solid black;
    margin: 10px;
}

.option-sort {
    height: 680px;
    display: flex;
}

.option-list {
    position: relative;
    margin-bottom: 15px;
    height: 110px;
    cursor: pointer;

}
.option-list img {
    position: absolute;
    margin-top: 10px;
    left: 280px;
    align-items: center;
    justify-content: center;
}

#calendar {
    width: 450px;
}
#calendar table {
    width: 100%;
}

#calendar table > span {
    font-size: larger;
    font-weight: bolder;
    color: tomato;
    padding: 9px 9px;
}

#calendar table > tbody > tr > td {
    text-align: center;
    padding: 9px 9px;
}

#calendar table > tbody > tr > td > span {
    display: block;
    padding: 9px 9px;
    cursor: pointer;
}

.today {
    border-radius: 50%;
    color: white;
    background-color: tomato;
    padding: 8px 8px;
}

.past-day{
    border-radius: 10px;
    background-color: dimgrey;
    color: white;
    pointer-events: none;
}

.calendar-header {
    width: 450px;
    position: relative;
    height: 50px;
    font-weight: bold;
    color: red;
    display: flex;
    justify-content: center;
}

.container-wrapper {
    display: flex;
    flex-direction: row;

}

.calendar-container {
 }

.calendar-container > .calendar-header > .calendar-control {
    height: 10px;
    position: absolute;
    font-weight: bolder;

}

.calendar-container > .calendar-header > .calendar-control > button {

    width: 30px;
    border: 1px solid #cbcbcb;
    background-color: #fff;
    font-size: 12px;
    cursor: pointer;
}


.calendar-yearmonth {
    position: relative;
    font-size: larger;
    line-height: 50px;
}

/*--------------------------------------------------------------------*/
/* reserveTimeAjax*/

.reserveTimeAjax {
    display: flex;

}

.radio-sort {
    display: inline-block;
}