.detail-wrap {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    background-color: wheat;
}

.title-container {

    display: flex;
    flex-direction: column;
}

.title-style {
    font-size: 50px;
}

#div1-container {
    width: 100%;
    height: 400px;
    background-color: wheat;
    display: flex;
    justify-content: center;
}

.images-map-container {
    display: flex;
    justify-content: center;


}

.images-container {
    width: 500px;
    height: 400px;
    padding: 5px;
    margin: 0 5px 0 0;
    background-color: thistle;
}

.address-map-container {
    width: 400px;
    height: 400px;
    background-color: yellowgreen;
    padding: 5px;
    margin: 0 0 0 5px;
}


#div2-container {
    width: 100%;
    height: auto;
    background-color: grey;
}


.reserveOptionAjax{
    float: left;
}
#option-container {
    width: 400px;

    margin: 10px;
}

.option-sort {
    height: auto;
    display: flex;
}

.option-list {
    width: 400px;
    height: 130px;
    position: relative;
    display: flex;
    margin-bottom: 15px;
    cursor: pointer;
    background-color: #72b01d;
}
.option-list img {
    width: 120px;
    height: 120px;
    margin-top: 10px;
    left: 280px;

}

#calendar {
    width: 450px;
}
#calendar table {
    width: 100%;
}

#calendar table > span {
    font-size: larger;
    font-weight: bolder;
    color: tomato;
    padding: 9px 9px;
}

#calendar table > tbody > tr > td {
    text-align: center;
    padding: 9px 9px;
}

#calendar table > tbody > tr > td > span {
    display: block;
    padding: 9px 9px;
    cursor: pointer;
}

.today {
    border-radius: 50%;
    color: white;
    background-color: tomato;
    padding: 8px 8px;
}

.past-day{
    border-radius: 10px;
    background-color: dimgrey;
    color: white;
    pointer-events: none;
}

.calendar-header {
    width: 450px;
    position: relative;
    height: 50px;
    font-weight: bold;
    color: red;
    display: flex;
    justify-content: center;
}

.container-wrapper {
    display: flex;
    flex-direction: row;

}

.calendar-container {
 }

.calendar-container > .calendar-header > .calendar-control {
    height: 10px;
    position: absolute;
    font-weight: bolder;

}

.calendar-container > .calendar-header > .calendar-control > button {

    width: 30px;
    border: 1px solid #cbcbcb;
    background-color: #fff;
    font-size: 12px;
    cursor: pointer;
}


.calendar-yearmonth {
    position: relative;
    font-size: larger;
    line-height: 50px;
}

/*--------------------------------------------------------------------*/
/* reserveTimeAjax*/

.reserveTimeAjax {
    display: flex;

}

.radio-sort {
    display: inline-block;
}