.detail-wrap {
    width: 1200px;
    height: 100%;
    margin: 0 auto;

}

.title-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}

#div1-container {
    width: 100%;
    height: 400px;
    background-color: wheat;
    display: flex;
    justify-content: center;
}

.images-map-container {
    display: flex;
    justify-content: center;
}

.images-container {
    width: 1200px;
    height: 550px;

    display: flex;
}

.thumbnail-img-container {
    width: 530px;
    height: 550px;
    margin: 0 10px 0 0;
}

.extra-img-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;

}

.extra-img-div {
    width: 325px;
    height: 270px;
}
.extra-img {
    width: 325px;
    height: 270px;
}

.thumbnail-img {
    width: 530px;
    height: 550px;
    border-radius: 15px 0 0 15px;

}
/* 그리드 2, 4번째 스타일 지정*/
.extra-img-container .extra-img-div:nth-child(2) .extra-img{
    border-radius: 0 15px 0 0;
}

.extra-img-container .extra-img-div:nth-child(4) .extra-img{
    border-radius: 0 0 15px 0;
}

#div2-container {
    width: 100%;
    height: auto;
    background-color: grey;
}


.reserveOptionAjax{
    float: left;
}
#option-container {
    width: 420px;
    height: 530px;
    overflow-y: scroll;
    margin: 10px;
}

.option-sort {
    height: auto;
    display: flex;
}

.option-list {
    width: 400px;
    height: 130px;
    position: relative;
    display: flex;
    margin-bottom: 15px;
    cursor: pointer;
    background-color: #72b01d;
}

.option-image-container {

}

.option-list img {
    width: 130px;
    height: 130px;

    left: 280px;

}

#calendar {
    width: 450px;
}
#calendar table {
    width: 100%;
}

#calendar table > span {
    font-size: larger;
    font-weight: bolder;
    color: tomato;
    padding: 9px 9px;
}

#calendar table > tbody > tr > td {
    text-align: center;
    padding: 9px 9px;
}

#calendar table > tbody > tr > td > span {
    display: block;
    padding: 9px 9px;
    cursor: pointer;
}

.today {
    border-radius: 50%;
    color: white;
    background-color: tomato;
    padding: 8px 8px;
}

.date-click {
    border-radius: 50%;
    color: white;
    background-color: #72b01d;
    padding: 8px 8px;
}

.past-day{
    border-radius: 10px;
    background-color: dimgrey;
    color: white;
    pointer-events: none;
}

.calendar-header {
    width: 450px;
    position: relative;
    height: 50px;
    font-weight: bold;
    color: red;
    display: flex;
    justify-content: center;
}

.container-wrapper {
    display: flex;
    flex-direction: row;

}

.calendar-container {
}

.calendar-container > .calendar-header > .calendar-control {
    height: 10px;
    position: absolute;
    font-weight: bolder;

}

.calendar-container > .calendar-header > .calendar-control > button {

    width: 30px;
    border: 1px solid #cbcbcb;
    background-color: #fff;
    font-size: 12px;
    cursor: pointer;
}


.calendar-yearmonth {
    position: relative;
    font-size: larger;
    line-height: 50px;
}

/*--------------------------------------------------------------------*/
/* reserveTimeAjax*/

.reserveTimeAjax {
    display: flex;

}

.radio-sort {
    display: inline-block;
}

.whole-image-view {

    position: absolute;
    top: 91%;
    right: 2%;

}

/* 옵션 css */
/* 라디오 버튼 스타일 초기화 */
.reservation-radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
}

.reservation-radio {
    width: 30px;
    height: 30px;
    background-color: wheat;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5px 0;
}

.reservation-radio::after {
    content: attr(value);
    font-size: 15px;
    color: #333;
}

.reservation-radio:checked {
    background-color: #007bff;
}

.reservation-radio:checked:after {
    color: #fff;
}