#sideOption-menu {
    width: 399px;
    /*background-color: turquoise;*/
    position: fixed;
}

#list-container {
    margin-left: 400px;
    height: 1100px;
    background-color: tomato;

}

#room-container {
    padding: 20px 20px 0 20px;
}
#item-container {
    border: solid grey;
    border-radius: 10px;
    cursor: pointer;
}

img {
    padding: 10px;


}
#item-content > span {
    display: block;
}

.pagination-container {
    margin: 20px;
}

.option-box {
    flex-direction: column;
}