#sideOption-menu {
    width: 399px;
    height: auto;
    margin-top: 10px;

}
.list-wrapper {
    margin: 0 13% 0 13%;

}

.container-fluid {
    position: fixed;
    width: 399px;
    top: 110px;
    transition: top 0.3s ease; /* top 속성에 대한 부드러운 전환을 추가합니다. */
}
/* option form 검색어 입력창 */
.divOptionSearch {
    margin: 10px 10px 0 0;
}
/* option-form submit button */
.option-button {

}
#searchForm {
    width: 399px;
    justify-content: center;
}

#list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 400px;
}

#room-container {
    padding: 20px 20px 0 20px;
}
#item-container {
    width: 78%;
    display: flex;
    background-color: #72b01d;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px 15px 0 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#item-content {
    width: 100%;
    padding: 11px;
    margin: 5px 0 0 0;
}

#item-content > span {
    display: block;
}

.pagination-container {
    margin: 20px;
}

.option-box {
    flex-direction: column;
}
