<!DOCTYPE html>
<html lang="ko"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/config}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/member/main.css}" >

    <title>Dev-room</title>
</head>



<div layout:fragment="content">

    <div class="main-wrap">

        <div id="carouselExampleIndicators" class="carousel slide" style="width: 1200px; height: 250px;">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/test-image.png" class="d-block" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/test-image.png" class="d-block" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/test-image.png" class="d-block" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <div class="empty-space"></div>

        <div class="category-container">
            <div class="category-box">

            </div>

            <div class="category-box">

            </div>

            <div class="category-box">

            </div>
        </div>


        <div class="swiper-container">
            <h2>새로 등록된 SPOT</h2>
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="room-card">
                            <img src="/images/test-image.png" alt="Room 1" >
                            <div class="content">
                                <h3>1</h3>
                                <p>11,000 원/시간</p>
                                <p>스터디룸</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="room-card">
                            <img src="/images/test-image.png" alt="Room 1" >
                            <div class="content">
                                <h3>2</h3>
                                <p>11,000 원/시간</p>
                                <p>개인오피스</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="room-card">
                            <img src="/images/test-image.png" alt="Room 1" >
                            <div class="content">
                                <h3>3</h3>
                                <p>11,000 원/시간</p>
                                <p>회의실</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="room-card">
                            <img src="/images/test-image.png" alt="Room 1" >
                            <div class="content">
                                <h3>4</h3>
                                <p>11,000 원/시간</p>
                                <p>스터디룸</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

            </div>
        </div>

        <div class="swiper-container">
            <h2>인기 SPOT</h2>
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="room-card">
                            <img src="/images/test-image.png" alt="Room 1" >
                            <div class="content">
                                <h3>1</h3>
                                <p>11,000 원/시간</p>
                                <p>스터디룸</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="room-card">
                            <img src="/images/test-image.png" alt="Room 1" >
                            <div class="content">
                                <h3>2</h3>
                                <p>11,000 원/시간</p>
                                <p>개인오피스</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="room-card">
                            <img src="/images/test-image.png" alt="Room 1" >
                            <div class="content">
                                <h3>3</h3>
                                <p>11,000 원/시간</p>
                                <p>회의실</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="room-card">
                            <img src="/images/test-image.png" alt="Room 1" >
                            <div class="content">
                                <h3>4</h3>
                                <p>11,000 원/시간</p>
                                <p>스터디룸</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

            </div>
        </div>


    </div>





</div>

<th:block layout:fragment="script">
    <script th:inline="javascript" type="text/javascript">

        $(document).ready(function(){
            swiper();
        });

        function swiper() {


            const mySwiper = new Swiper('.swiper', {
                slidesPerView: 3,
                slidesPerGroup: 1,
                observer: true,
                observeParents: true,
                loop:true,
                spaceBetween: 15,
                navigation: {
                    nextEl: '.swiper-container .swiper-button-next',
                    prevEl: '.swiper-container .swiper-button-prev',
                }
            });
        }

    </script>
</th:block>


</html>