<!DOCTYPE html>
<html lang="ko"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/config}">
<!--<link rel="stylesheet" th:href="@{/css/home.css}" >-->

<!--    <script th:src="@{/js/page/home.js}"></script>-->



<div layout:fragment="content">

    <div class="">

    </div>

    <div class="main-container">
        <div class="navbar">
            <div class="container-fluid">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    게시판



</div>

</html>