<!DOCTYPE html>
<html lang="ko"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/config}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/member/main.css}" >

    <title>Dev-room</title>
</head>



<div layout:fragment="content">

    <div class="main-wrap">

        <div id="carouselExampleIndicators" class="carousel slide" style="width: 1200px; height: 250px;">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/test-image.png" class="d-block" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/test-image.png" class="d-block" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/test-image.png" class="d-block" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="empty-space"></div>

        <div class="swiper-container">
            <h2>새로 등록된 SPOT</h2>
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div th:each="recentCreateRoom : ${recentCreateRoom}" class="swiper-slide">
                        <div class="room-card" th:onclick="|location.href='@{/devroom/reserve/detail(roomNo=${recentCreateRoom.roomNo})}'|">
                            <img th:if="${recentCreateRoom.saveName} != 'noImage'" th:src="${filePath} + '/' + ${recentCreateRoom.createdDate} + '/' + ${recentCreateRoom.saveName}" th:alt="${recentCreateRoom.originalName}" >
                            <img th:unless="${recentCreateRoom.saveName} != 'noImage'" src="/images/test-image.png" th:alt="${recentCreateRoom.originalName}">
                            <div class="content">
                                <h3 th:text="${recentCreateRoom.roomTitle}"></h3>
                                <p th:text="${recentCreateRoom.roomDiv}"></p>
                                <p th:text="${recentCreateRoom.address} + ${recentCreateRoom.detailAddress}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

            </div>
        </div>



    </div>





</div>

<th:block layout:fragment="script">
    <script th:inline="javascript" type="text/javascript">

        $(document).ready(function(){
            swiper();
        });

        function swiper() {


            const mySwiper = new Swiper('.swiper', {
                slidesPerView: 3,
                slidesPerGroup: 1,
                observer: true,
                observeParents: true,
                loop:true,
                spaceBetween: 15,
                navigation: {
                    nextEl: '.swiper-container .swiper-button-next',
                    prevEl: '.swiper-container .swiper-button-prev',
                }
            });
        }

    </script>
</th:block>


</html>