<!DOCTYPE html>
<html lang="ko"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage-config}">
<head>
    <link rel="stylesheet" th:href="@{/css/member/mypage.css}" >
    <title>ShareSpot</title>
</head>


<div layout:fragment="mypage-content">


    <div class="quick-check-box-container">
        <div class="quick-check-box">1</div>
        <div class="quick-check-box">2</div>
        <div class="quick-check-box">3</div>
    </div>

</div> <!-- layout:fragment="content" END -->

</html>