<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage-config}">
<head>

    <link rel="stylesheet" th:href="@{/css/member/reservation-info.css}" >


    <title>shareSpot</title>
</head>


<div layout:fragment="content">
예약 정보 확인
    <table class="table">
        <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">방이름</th>
                <th scope="col">옵션이름</th>
                <th scope="col">예약 날짜</th>
                <th scope="col">입실 시간</th>
                <th scope="col">퇴실 시간</th>
                <th scope="col">예약 취소</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="reserveInfo : ${reservationInfo}">
                <td th:text="${reserveInfo.rowNum}"></td>
                <td th:text="${reserveInfo.roomTitle}"></td>
                <td th:text="${reserveInfo.roomOptionTitle}"></td>
                <td th:text="${reserveInfo.reservationDate}"></td>
                <td th:text="${reserveInfo.startTime} + '시'"></td>
                <td th:text="${reserveInfo.endTime} +'시'"></td>
                <td th:switch="${reserveInfo.reservationStatus}">
                    <button th:case="'0'" class="btn btn-danger" disabled>예약 취소</button>
                    <button th:case="'1'" class="btn btn-danger" th:data-reservation-no="${reserveInfo.reservationNo}" data-bs-toggle="modal" data-bs-target="#reservationCancelModal">예약 취소</button>
                    <button th:case="'2'" class="btn btn-danger" disabled>예약 종료</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="reservationCancelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">예약 취소</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    예약을 취소하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니요</button>
                    <button type="button" class="btn btn-primary cancel-btn">네</button>
                </div>
            </div>
        </div>
    </div>


</div> <!-- layout:fragment="content" END -->

<th:block layout:fragment="script">
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function () {
            sendReservationDataToModal();
            reservationCancelBtn();

        })
        function sendReservationDataToModal() {
            $('#reservationCancelModal').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget);
                let getReservationNo = button.data('reservationNo');
                console.log(getReservationNo)
                const cancelBtn = $(this).find('.cancel-btn');
                cancelBtn.data('reservation-no', getReservationNo);
            })
            
        }
        function reservationCancelBtn() {
            $('.cancel-btn').click(function () {
                const reservationNo = $(this).data('reservation-no');
                $.ajax({
                    type: 'POST',
                    url: '/devroom/member/mypage/reservation/cancel',
                    data: {reservationNo: reservationNo},
                    success: function (response) {
                        window.location.href='/devroom/member/mypage/reservation-info';
                    },
                    error: function () {
                        window.location.href='/devroom/member/mypage/reservation/cancel/error'
                    }

                })
            })

        }

    </script>
</th:block>

</html>