.room-list-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;

}
.room-list-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 5px;
    justify-content: center;
}
.list-item {
    width: 230px;
    height: 230px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #72B01D;
    margin: 10px;

    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.list-item-inner {
    height: 100%;
    padding: 10px;
    margin: 10px;
}

/*   empty.html   */

.null-container {
    margin: 100px;
}

.null-container > span {
    font-size: 20px;
}


