.detail-wrap {
    width: 1000px;
    height: auto;
    border-radius: 20px;
    padding: 30px;
    background-color: #F3EFF5;
}

.room-info-container {
    display: flex;
    flex-direction: column;
}

.option-detail-container {
    width: 940px;
    height: auto;
    background-color: #BCBFC8;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    margin: 0 0 15px 0;
}

.thumbnail-image {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.additional-images {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.all-image-container {
    display: flex;

}
.room-image-container {
    display: flex;
}
.extra-images-wrap{
    margin: 0 0 0 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

.extra-image-container {
    width: 150px;
    height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.extra-image {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    cursor: pointer;
}
.image-style {
    border-radius: 10px;
}

.option-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.option-info-container {
    display: flex;
    margin: 0 0 0 15px;
    align-items: center;
}

.option-image-container {
    width: 170px;
    height: 170px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-name-price-container {
    display: flex;
    flex-direction: column;
}

.option-content-container {
    margin: 0 0 0 10px;
}

/* detail/update */
.thumbnail-image-container {
    width: 270px;
    height: 270px;
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.thumbnail-image-container > img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}

.overlay {
    height: 51px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-image-custom {
    width: 100px;
    height: 100px;
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}
.input-image-custom:hover {
    width: 100px;
    height: 100px;
    display: flex;
    background-color: #255ae8;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

