<!DOCTYPE html>
<html lang="ko"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/seller-config}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <link rel="stylesheet" th:href="@{/css/member/mypage.css}" >


    <title>Dev-room</title>
</head>


<div layout:fragment="seller-content">

<a>Seller Page</a>
    <form th:action="@{/seller/login}" method="post">

        <label> Id
            <input name="sellerId">
        </label>

        <label> Pw
            <input name="sellerPw">
        </label>
        <button>로그인</button>
    </form>

    <a href="/seller/register">회원가입</a>

</div>

</html>