<!DOCTYPE html>
<html lang="ko"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/seller-config}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <link rel="stylesheet" th:href="@{/css/member/mypage.css}" >


    <title>Dev-room</title>
</head>


<div layout:fragment="seller-content">

    <div>
        <ul>
            <li><a href="/seller/main?123">메뉴1</a></li>
            <li>메뉴2</li>
            <li>메뉴3</li>
        </ul>
        <ul>
            <li>메뉴1</li>
            <li>메뉴1</li>
            <li>메뉴1</li>
        </ul>
    </div>

</div>

</html>