<!DOCTYPE html>
<html lang="ko"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/seller-config}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=1200">
    <link rel="stylesheet" th:href="@{/css/member/mypage.css}" >


    <title>Dev-room</title>
</head>

<div layout:fragment="seller-menu"></div>
<div layout:fragment="seller-content">


</div>

<th:block layout:fragment="script">
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function() {
            menuListColor();
        });

        function menuListColor() {
            $('.home').css({
                'background-color': '#F3EFF5',
                'color': '#0D0A0B',
                'border-radius': '5px'
            });
        }
        
    </script>
</th:block>

</html>