<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dev.shop.item.dao.ItemDao">



    <insert id="insertRoomImages">
        INSERT INTO roomimage_tb ( roomimage_no, original_name, save_name, file_size, thumbnail, upload_date, room_no)
        VALUES
        <foreach collection="list" item="image" separator=",">
            ( null, #{image.originalName}, #{image.saveName}, #{image.fileSize}, #{image.thumbnail}, #{image.uploadDate}, #{image.roomNo} )
        </foreach>

    </insert>
    <insert id="insertOptionImage">
        INSERT INTO roomoptionimage_tb (
            roptionimage_no, original_name, save_name, file_size, upload_date, roption_no
        )
        VALUES
        <foreach collection="list" item="image" separator=",">
            ( null, #{image.originalName}, #{image.saveName}, #{image.fileSize}, #{image.uploadDate},#{image.roptionNo})
        </foreach>
    </insert>


    <update id="updateRoomImage">
        <foreach collection="imagesList" item="image" separator=";">
        UPDATE roomImage_tb

        SET original_name = #{image.originalName}, save_name = #{image.saveName}, file_size = #{image.fileSize},
            upload_date = #{image.uploadDate}

        WHERE roomimage_no = #{image.roomimageNo}
        </foreach>
    </update>
    <update id="updateOptionImage">
        <foreach collection="imagesList" item="image" separator=";">
            UPDATE roomoptionimage_tb

            SET original_name = #{image.originalName}, save_name = #{image.saveName}, file_size = #{image.fileSize},
            upload_date = #{image.uploadDate}

            WHERE roptionimage_no = #{image.roptionimageNo}
        </foreach>
    </update>


    <select id="selectFileInfoByRoomNo" resultType="com.dev.shop.item.dto.FileResponse">
        SELECT *
        FROM roomimage_tb
        WHERE room_no = #{roomNo}
    </select>

    <select id="selectRoomOptionByRoomNo" resultType="com.dev.shop.reserve.dto.RoomOptionDto">
        SELECT *
        FROM roomoption_tb
        WHERE room_no = #{roomNo}
    </select>

    <select id="selectAdditionalImageByRoomNo" resultType="com.dev.shop.item.dto.FileResponse">
        SELECT *
        FROM roomimage_tb
        WHERE room_no = #{roomNo}
            AND thumbnail= 'N'
            AND file_delete = 'N';
    </select>

    <select id="selectThumbnailByRoomNo" resultType="com.dev.shop.item.dto.FileResponse">
        SELECT *
        FROM roomimage_tb
        WHERE room_no = #{roomNo}
            AND thumbnail= 'Y'
            AND file_delete = 'N';
    </select>

</mapper>