<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dev.shop.member.dao.MemberDao">

    <insert id="insertMemberRegister">
        INSERT INTO member_tb (
            member_id, member_email, member_pw, member_auth, member_phone, member_name
            , member_appenddate, member_updatedate)
        VALUES(
            #{memberId}, #{memberEmail}, #{memberPw}, #{memberAuth},#{memberPhone}, #{memberName}
            , #{appendDate}, #{updateDate})
    </insert>
    <update id="updateMemberInformation">

        <choose>
            <when test="memberPw != ''">
                UPDATE member_tb
                    SET member_pw = #{memberPw}, member_phone = #{memberPhone}, member_updatedate = #{updateDate}, member_email = #{memberEmail}
                WHERE member_no = #{memberNo}
            </when>
            <otherwise>
                UPDATE member_tb
                SET member_phone = #{memberPhone}, member_updatedate = #{updateDate}, member_email = #{memberEmail}
                WHERE member_no = #{memberNo}
            </otherwise>
        </choose>



    </update>
    <update id="updateReservationByReservationNo">
        UPDATE reservation_tb
        SET reservation_status = 0
        WHERE reservation_no = #{reservationNo}
    </update>

    <select id="selectMainInfoNewSpot" resultType="com.dev.shop.reserve.dto.RoomDto">

    </select>

    <select id="selectMemberByMemberNo" resultType="MemberDto">
        SELECT *
        FROM member_tb
        WHERE member_id = #{memberId}
    </select>

    <select id="selectMemberById" resultType="MemberDetailsDto">
        SELECT *
        FROM member_tb
        WHERE member_id = #{memberId}
    </select>

    <select id="selectMemberInfoById" resultType="com.dev.shop.member.dto.MemberDto">
        SELECT member_no, member_id, member_email,member_auth, member_phone, member_name, member_appenddate, member_updatedate
        FROM member_tb
        WHERE member_id = #{authId}

    </select>

    <select id="selectMemberPw" resultType="String">
        SELECT member_pw
        FROM member_tb
        WHERE member_no = #{memberNo};
    </select>

    <select id="selectMemberNo" resultType="java.lang.Long">
        SELECT member_no
        FROM member_tb
        where member_id = #{authId}
    </select>

    <select id="selectReservationInfoByMemberNo" resultType="com.dev.shop.member.dto.getReserveInfoDto">
        SELECT ROW_NUMBER() OVER (ORDER BY a.reservation_creation_date) AS row_num, a.reservation_no, a.reservation_date, a.reservation_creation_date, a.start_time, a.end_time,  a.reservation_status, a.room_no, a.roption_no, b.room_title, c.roption_title
        from reservation_tb a
        left join room_tb b
        on a.room_no = b.room_no
        LEFT JOIN roomoption_tb c
        ON a.roption_no = c.roption_no
        WHERE member_no = #{memberNo}
        AND reservation_status = 1 or 2
        LIMIT #{params.pagination.limitStart}, #{params.recordSize}
    </select>

    <select id="countReservationInfo" resultType="java.lang.Integer">
        SELECT count(*)
        FROM reservation_tb
        WHERE member_no = #{memberNo};
    </select>
    <select id="selectNewSpot">
        select *
        from room_tb
        order by room_no desc
        limit 0, 5
    </select>
    <select id="selectRoomAndImage" resultType="com.dev.shop.member.dto.RoomAndImageDto">
        select a.*, IFNULL(b.cnt, 0) as cnt, IFNULL(c.created_date, '0101-01-01'), IFNULL(c.save_name, 'noImage'), IFNULL(c.original_name, 'noImage')
        FROM room_tb a
            LEFT JOIN (
                SELECT room_no, COUNT(roption_no) cnt
                FROM roomoption_tb
                GROUP BY room_no
            ) b
        ON a.room_no = b.room_no
            LEFT JOIN (
                select room_no, thumbnail, file_delete, created_date, save_name, original_name
                from roomimage_tb
                where thumbnail = 'Y'
                and file_delete = 'N'
            ) c (room_no, thumbnail, file_delete, created_date, save_name, original_name)
        ON a.room_no = c.room_no
            WHERE a.room_delete = 0
            AND b.cnt != 0
            order by room_no desc
        limit 0, 6

    </select>


</mapper>