<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dev.shop.reserve.dao.ReserveDao">

    <update id="updateReservationStatus">
        UPDATE reservation_tb
        SET reservation_status = '3'
        WHERE reserve_end_datetime &lt;= CURRENT_TIMESTAMP
            AND reservation_status = '1'
    </update>

    <select id="selectRoomList" resultType="ReserveRoomListDto">
        SELECT a.room_no, a.room_title, a.room_div, a.room_content, a.postcode, a.address, a.detail_address, a.extra_address, a.room_delete, a.seller_no,
        IFNULL(b.cnt, 0) as option_cnt, IFNULL(c.upload_date, '0101-01-01') as upload_date,
        IFNULL(c.save_name, 'noImage') as save_name, IFNULL(c.original_name, 'noImage') as original_name
        FROM room_tb a
        LEFT JOIN (
            SELECT room_no, COUNT(roption_no) cnt
            FROM roomoption_tb
            GROUP BY room_no
        ) b
            ON a.room_no = b.room_no
        LEFT JOIN (
            SELECT room_no, thumbnail, file_delete, upload_date, save_name, original_name
            FROM roomimage_tb
            WHERE thumbnail = 'Y'
                AND file_delete = 'N'
        ) c
            ON a.room_no = c.room_no
            WHERE a.room_delete = 'N'
            AND IFNULL(b.cnt, 0) != 0

        <!-- 공간 옵션값이 존재 할 때 -->
        <if test="searchDiv != null and searchDiv.size() > 0">
            AND a.room_div IN
            <foreach collection="searchDiv" item="roomDiv" open="(" separator="," close=")">
                #{roomDiv}
            </foreach>
        </if>
        <!-- 검색어가 존재 할 때 -->
        <if test="keyword != null and keyword != ''">
            AND a.room_title LIKE CONCAT('%', #{keyword}, '%')
        </if>

        <!-- 지역 옵션값이 존재 할 때 -->
        <if test="searchLocation != null and searchLocation.size() > 0">
            AND (
            <foreach collection="searchLocation" item="location" separator="or">
                a.address LIKE CONCAT(#{location}, '%')
            </foreach>
            )
        </if>

        ORDER BY a.room_no DESC

        LIMIT #{pagination.limitStart}, #{recordSize}
    </select>

    <!--  글 리스트의 값 구하기  -->
    <select id="countAllList" resultType="int">
        select COUNT(*) as room_count
        from (
            SELECT a.*, IFNULL(b.cnt, 0) as cnt
            FROM room_tb a
            LEFT JOIN (
                SELECT room_no, COUNT(roption_no) cnt
                FROM roomoption_tb
                GROUP BY room_no
            ) b
            ON a.room_no = b.room_no
            LEFT JOIN (
                SELECT *
                FROM roomimage_tb
                WHERE thumbnail = 'Y'
                AND file_delete = 'N'
            ) c
            ON a.room_no = c.room_no
            WHERE a.room_delete = 'N'
                AND b.cnt != 0

        <!-- 공간 옵션값이 존재 할 때 -->
        <if test="searchDiv != null and searchDiv.size() > 0">
            AND a.room_div IN
            <foreach collection="searchDiv" item="roomDiv" open="(" separator="," close=")">
                #{roomDiv}
            </foreach>
        </if>
        <!-- 검색어가 존재 할 때 -->
        <if test="keyword != null and keyword != ''">
            AND a.room_title LIKE CONCAT('%', #{keyword}, '%')
        </if>

        <!-- 지역 옵션값이 존재 할 때 -->
        <if test="searchLocation != null and searchLocation.size() > 0">
            AND (
            <foreach collection="searchLocation" item="location" separator="or">
                a.address LIKE CONCAT(#{location}, '%')
            </foreach>
            )
        </if>
        ) as subquery_result
    </select>

    <select id="selectRoomInfoByRoomNo" resultType="com.dev.shop.reserve.dto.RoomInfoRequest">
        SELECT room_no, room_title, room_div, room_content, postcode, address, detail_address, extra_address, seller_no
        FROM room_tb
        WHERE room_no = #{roomNo}
    </select>

    <select id="selectRoomOptionInfo" resultType="OptionResponse">
        SELECT roption_no, roption_title, roption_price, roption_content, room_no
        FROM roomoption_tb
        where room_no = #{roomNo}
            and roption_delete = 'N'
    </select>

    <select id="selectThumbnailImage" resultType="com.dev.shop.item.dto.FileResponse">
        SELECT roomimage_no, original_name, save_name, file_size, thumbnail, file_delete, upload_date
        FROM roomimage_tb
        WHERE room_no = #{roomNo}
            and file_delete = 'N'
            and thumbnail = 'Y'
    </select>

    <select id="selectExtraImage" resultType="com.dev.shop.item.dto.FileResponse">
        SELECT roomimage_no, original_name, save_name, file_size, thumbnail, file_delete, upload_date
        FROM roomimage_tb
        WHERE room_no = #{roomNo}
            and file_delete = 'N'
            and thumbnail = 'N'
        ORDER BY upload_date DESC
    </select>

<!--  ////////////////////////////////////////////////////////////////////////////////  -->

    <select id="getReservedTime" resultType="java.lang.String">
        SELECT start_time
        FROM time_reservations_tb
        WHERE room_no = #{roomNo}
            AND reservation_date = #{selectDate}
    </select>

    <select id="getReservedStartTime" resultType="java.lang.Integer">
        select start_time
        FROM time_reservations_tb
        WHERE room_no = #{roomNo}
            AND reservation_date = #{selectDate}
    </select>
    <select id="getReservedEndTime" resultType="java.lang.Integer">
        SELECT end_time
        FROM time_reservations_tb
        WHERE room_no = #{roomNo}
            AND reservation_date = #{selectDate}
    </select>

    <select id="getReservedAllTime" resultType="java.util.Map">
        SELECT start_time, end_time
        FROM reservation_tb
        WHERE room_no = #{roomNo}
            AND roption_no = #{optionNo}
            AND reservation_date = #{selectDate}
    </select>

    <select id="selectOptionAndImage" resultType="com.dev.shop.reserve.dto.OptionAddImageDto">
        select a.*, IFNULL(b.roptionimage_no, '0') as roptionimage_no, IFNULL(b.original_name, 'noImage') as original_name, IFNULL(b.save_name, 'noImage') as save_name, IFNULL(b.file_size, '0') as file_size, IFNULL(b.file_delete, 'N') as file_delete, IFNULL(b.upload_date, '0101-01-01') as upload_date
        FROM roomoption_tb a
        left join roomoptionimage_tb b
        on a.roption_no = b.roption_no
        WHERE a.room_no = #{roomNo}
    </select>

    <select id="selectMemberNo" resultType="java.lang.Long">
        SELECT member_no
        FROM member_tb
        WHERE member_id = #{memberId}
    </select>

    <select id="selectBookmarkData" resultType="java.lang.Boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN true ElSE false END
        FROM bookmark_tb
        WHERE member_no = #{memberNo}
        AND room_no = #{roomNo}
    </select>

    <insert id="insertReserveInfo">
        INSERT INTO reservation_tb (
            reservation_date, start_time, end_time, reservation_status, seller_no, member_no, room_no, roption_no, reservation_creationdate, reserve_end_datetime
            )
        VALUES (
            #{parsingDate}, #{reserveStartTime}, #{reserveEndTime}, 1, #{sellerNo}, #{memberNo}, #{roomNo}, #{optionNo}, now(), #{endDateTime}
            )
    </insert>

    <insert id="insertBookmark">
        INSERT INTO bookmark_tb(member_no, room_no)
        VALUES (#{memberNo}, #{roomNo})
    </insert>

    <delete id="deleteBookmark">
        DELETE from bookmark_tb
        WHERE member_no = #{memberNo}
        AND room_no = #{roomNo}
    </delete>

</mapper>