<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dev.shop.reserve.dao.ReserveDao">

    <select id="selectRoomList" parameterType="CriteriaDto" resultType="RoomDto">
        select rm.*, IFNULL(ro.cnt, 0) as cnt
        FROM room_tb rm
        LEFT JOIN (
            SELECT room_no, COUNT(roption_no) cnt
            FROM roomoption_tb
            GROUP BY room_no
        ) ro ON rm.room_no = ro.room_no
        WHERE rm.room_delete = 0
            AND ro.cnt != 0
            <!-- 검색어가 존재할 때 -->
            <if test="keyword != null and keyword != ''">
                <choose>
                    <!-- search -->
                    <when test="searchDiv != null and searchDiv !=''">
                        <choose>
                            <when test="'studyroom'.equals(searchDiv)">
                                AND rm.room_div = #{searchDiv}
                                AND rm.room_title LIKE CONCAT('%', #{keyword}, '%')
                            </when>
                            <when test="'office'.equals(searchDiv)">
                                AND rm.room_div = #{searchDiv}
                                AND rm.room_title LIKE CONCAT('%', #{keyword}, '%')
                            </when>
                            <when test="'metting'.equals(searchDiv)">
                                AND rm.room_div = #{searchDiv}
                                AND rm.room_title LIKE CONCAT('%', #{keyword}, '%')
                            </when>
                        </choose>
                    </when>

                    <otherwise>
                        AND rm.room_title LIKE CONCAT('%', #{keyword}, '%')
                    </otherwise>
                </choose>
            </if>

                <choose>
                    <when test="searchDiv != null and searchDiv != ''">
                        <choose>
                            <when test="'studyroom'.equals(searchDiv)">
                                AND rm.room_div = #{searchDiv}
                            </when>
                            <when test="'office'.equals(searchDiv)">
                                AND rm.room_div = #{searchDiv}
                            </when>
                            <when test="'metting'.equals(searchDiv)">
                                AND rm.room_div = #{searchDiv}
                            </when>
                        </choose>
                    </when>
                </choose>


        ORDER BY rm.room_no DESC

        LIMIT #{pagination.limitStart}, #{recordSize}
    </select>

    <select id="countAllList" parameterType="CriteriaDto" resultType="int">
        SELECT COUNT(*)
        FROM room_tb
        WHERE room_delete = 0
        <!-- 검색어가 존재할 때 -->
        <if test="keyword != null and keyword != ''">
            <choose>
                <!-- sear -->
                <when test="searchDiv != null and searchDiv !=''">
                    <choose>
                        <when test="'studyroom'.equals(searchDiv)">
                            AND room_div = #{searchDiv}
                            AND room_title LIKE CONCAT('%', #{keyword}, '%')
                        </when>
                        <when test="'office'.equals(searchDiv)">
                            AND room_div = #{searchDiv}
                            AND room_title LIKE CONCAT('%', #{keyword}, '%')
                        </when>
                        <when test="'metting'.equals(searchDiv)">
                            AND room_div = #{searchDiv}
                            AND room_title LIKE CONCAT('%', #{keyword}, '%')
                        </when>
                    </choose>
                </when>

                <otherwise>
                    AND room_title LIKE CONCAT('%', #{keyword}, '%')
                </otherwise>
            </choose>
        </if>

        <choose>
            <when test="searchDiv != null and searchDiv != ''">
                <choose>
                    <when test="'studyroom'.equals(searchDiv)">
                        AND room_div = #{searchDiv}
                    </when>
                    <when test="'office'.equals(searchDiv)">
                        AND room_div = #{searchDiv}
                    </when>
                    <when test="'metting'.equals(searchDiv)">
                        AND room_div = #{searchDiv}
                    </when>
                </choose>
            </when>
        </choose>
    </select>

    <select id="selectRoomInfoByRoomNo" resultType="RoomDto">
        SELECT *
        FROM room_tb
        where room_no = #{roomNo}
    </select>

    <select id="selectRoomOptionInfoByRoomNo" resultType="RoomOptionDto">
        SELECT *
        FROM roomoption_tb
        where room_no = #{roomNo}
    </select>

    <select id="getReservedTime" resultType="java.lang.String">
        SELECT start_time
        FROM time_reservations_tb
        WHERE room_no = #{roomNo}
            AND reservation_date = #{selectDate}
    </select>

    <select id="getReservedStartTime" resultType="java.lang.Integer">
        select start_time
        FROM time_reservations_tb
        WHERE room_no = #{roomNo}
            AND reservation_date = #{selectDate}
    </select>
    <select id="getReservedEndTime" resultType="java.lang.Integer">
        SELECT end_time
        FROM time_reservations_tb
        WHERE room_no = #{roomNo}
            AND reservation_date = #{selectDate}
    </select>

    <select id="getReservedAllTime" resultType="java.util.Map">
        SELECT start_time, end_time
        FROM reservation_tb
        WHERE room_no = #{roomNo}
            AND roption_no = #{optionNo}
            AND reservation_date = #{selectDate}
    </select>


    <select id="selectMemberNoByAuthId" resultType="java.lang.String">
        SELECT member_no
        FROM member_tb
        WHERE member_id = #{memberId}
    </select>

    <insert id="insertReserveInfo">
        INSERT INTO reservation_tb (
            reservation_date, reservation_creation_date, start_time, end_time, seller_no, member_no, room_no, roption_no
            )
        VALUES (
            #{parsingDate}, now(), #{reserveStartTime}, #{reserveEndTime}, #{sellerNo}, #{memberNo}, #{roomNo}, #{optionNo}
            )

    </insert>

</mapper>