<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dev.shop.seller.dao.SellerDao">

    <insert id="insertSellerRegister">
        INSERT INTO seller_tb (
        seller_id, seller_pw, seller_email, seller_phone, seller_name,
        seller_creationdate, seller_auth)
        VALUES(
        #{sellerId}, #{sellerPw} , #{sellerEmail},#{sellerPhone}, #{sellerName}
        , #{sellerCreationdate}, #{sellerAuth})
    </insert>

    <select id="selectSellerById" resultType="com.dev.shop.seller.dto.SellerDetailsDto">
        SELECT *
        FROM seller_tb
        WHERE seller_id = #{sellerId}
    </select>

    <insert id="insertRoomInfo" useGeneratedKeys="true" keyProperty="roomNo">
        INSERT INTO room_tb(
            room_no, room_title, room_div, room_content, postcode, address, detail_address, extra_address, seller_no)
        VALUES (
            null, #{roomTitle}, #{roomDiv}, #{roomContent},
            #{postcode}, #{address}, #{detailAddress}, #{extraAddress}, #{sellerNo})
    </insert>

    <select id="selectSellerNoByAuthId" resultType="java.lang.Long">
        SELECT seller_no
        FROM seller_tb
        where seller_id = #{authId}
    </select>

    <insert id="insertThumbnailImage">
        INSERT INTO roomimage_tb ( roomimage_no, original_name, save_name, file_size, thumbnail, file_delete, created_date, room_no)
        VALUES
        (null, #{originalName}, #{saveName}, #{fileSize}, #{thumbnail}, 'N', #{createdDate}, #{roomNo})
    </insert>

    <insert id="insertExtraImages" parameterType="list">
        INSERT INTO roomimage_tb ( roomimage_no, original_name, save_name, file_size, thumbnail, file_delete,created_date, room_no)
        VALUES
        <foreach collection="list" item="image" separator=",">
            ( null, #{image.originalName}, #{image.saveName}, #{image.fileSize}, #{image.thumbnail}, #{image.thumbnail}, #{image.createdDate}, #{image.roomNo} )
        </foreach>
    </insert>

    <insert id="insertRoomOptionInfo" parameterType="List">
        INSERT INTO roomoption_tb(roption_title, roption_content, roption_price, room_no)
        VALUES
        <foreach collection="list" item="options" separator=",">
            (#{options.roptionTitle}, #{options.roptionContent}, #{options.roptionPrice}, #{options.roomNo})
        </foreach>
    </insert>

    <insert id="insertOptionInfoByOptionData" useGeneratedKeys="true" keyProperty="roomOptionNo">
        INSERT INTO roomoption_tb(roption_title, roption_price, roption_content, room_no, roption_delete)
        VALUES (
            #{roptionTitle}, #{roptionPrice}, #{roptionContent}, #{roomNo}, 'N'
        )
    </insert>

    <insert id="insertNewOptions" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="roptionNo">
        INSERT INTO roomoption_tb(roption_title, roption_price, roption_content, room_no, roption_delete)
        VALUES
        <foreach collection="list" item="option" separator=",">
            (#{option.roptionTitle}, #{option.roptionPrice}, #{option.roptionContent}, #{option.roomNo}, 'N')
        </foreach>
    </insert>

    <insert id="addOptionImage">
        INSERT INTO roomoptionimage_tb (
        roptionimage_no, original_name, save_name, file_size, upload_date, roption_no
        )
        VALUES
        <foreach collection="list" item="image" separator=",">
            ( null, #{image.originalName}, #{image.saveName}, #{image.fileSize}, #{image.uploadDate},#{image.roptionNo})
        </foreach>
    </insert>

    <select id="selectRoomListBySellerNo" resultType="com.dev.shop.seller.dto.RoomListDto">
        select rm.room_no, rm.room_title, rm.room_div, COALESCE(ro.cnt, 0) as cnt
        FROM room_tb rm
        LEFT JOIN (
            SELECT room_no, COUNT(*) cnt
            FROM roomoption_tb
            GROUP BY room_no
        ) ro ON rm.room_no = ro.room_no
        WHERE rm.seller_no = #{sellerNo}
            AND rm.room_delete = 'N';
    </select>

    <select id="selectRoomInfoByRoomNo" resultType="com.dev.shop.seller.dto.RoomResponse">
        SELECT room_no, room_title, room_div, room_content, room_status, postcode, address, detail_address, extra_address
        FROM room_tb
        WHERE room_no = #{roomNo}
    </select>

    <select id="selectRoomOptionCountByRoomNo" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM roomoption_tb
        WHERE room_no = #{roomNo}
    </select>

    <select id="selectRoomCountByAuthId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM room_tb
        WHERE seller_no = #{sellerNo}
    </select>

    <select id="selectRoomOptionInfoByRoomNo" resultType="com.dev.shop.reserve.dto.OptionResponse">
        select *
        FROM roomoption_tb
        WHERE room_no = #{roomNo};
    </select>


    <select id="selectReserveManageInfoBySellerNo" resultType="com.dev.shop.seller.dto.ReserveManageDto">
        select a.*, IFNULL(cnt, 0) as cnt
        FROM room_tb a
        LEFT JOIN (
            SELECT room_no, COUNT(*) cnt
            FROM reservation_tb
            group by room_no
        ) b ON a.room_no = b.room_no
        WHERE seller_no = #{sellerNo};
    </select>

    <select id="selectReservationInfoByRoomNo" resultType="com.dev.shop.seller.dto.ReservationDto">
        SELECT a.reservation_no, a.reservation_date, a.start_time, a.end_time, b.member_id
        FROM reservation_tb a
        INNER JOIN member_tb b
        ON a.member_no = b.member_no
        WHERE a.room_no = #{roomNo};
    </select>


    <select id="selectOptionAndImageByRoomNo" resultType="com.dev.shop.seller.dto.OptionAndImageResponse">
        select a.*,
            COALESCE(b.roptionimage_no, 0) as roptionimage_no, COALESCE(b.original_name, 'none') as original_name, COALESCE(b.save_name, 'none') as save_name, COALESCE(b.file_size, 0) as file_size, COALESCE(b.file_delete, 'N') as file_delete, COALESCE(b.upload_date, '0101-01-01') as upload_date
        FROM roomoption_tb a
        LEFT JOIN roomoptionimage_tb b
        ON a.roption_no = b.roption_no
        WHERE a.room_no = #{roomNo}
    </select>
    <select id="selectRoomOptionNoByRoomNo" resultType="java.lang.Long">
        SELECT roption_no
        FROM roomoption_tb
        WHERE room_no = #{roomNo}
    </select>
    <select id="selectIdDuplicateBySellerId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM seller_tb
        WHERE seller_id = #{sellerId}
    </select>
    <select id="selectRoomOption" resultType="com.dev.shop.seller.dto.RoomOptionResponse">
        SELECT *
        FROM roomoption_tb
        WHERE room_no = #{roomNo}
    </select>

    <select id="selectThumbnailImage" resultType="com.dev.shop.item.dto.FileResponse">
        SELECT roomimage_no, original_name, save_name, file_size, thumbnail, file_delete, upload_date
        FROM roomimage_tb
        WHERE room_no = #{roomNo}
            AND file_delete = 'N'
            AND thumbnail = 'Y'
    </select>
    <select id="selectExtraImage" resultType="com.dev.shop.item.dto.FileResponse">
        SELECT roomimage_no, original_name, save_name, file_size, thumbnail, file_delete, upload_date
        FROM roomimage_tb
        WHERE room_no = #{roomNo}
        AND file_delete = 'N'
        AND thumbnail = 'N'
    </select>
    <select id="selectOptionCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM roomoption_tb
        where room_no = #{roomNo}
    </select>

    <update id="updateRoomOptionInfo" parameterType="java.util.List">
        <foreach collection="list" item="roomOption" separator=";">
            UPDATE roomoption_tb
            SET
                roption_title = #{roomOption.roptionTitle},
                roption_content = #{roomOption.roptionContent},
                roption_price = #{roomOption.roptionPrice}
            WHERE
                roption_no = #{roomOption.roptionNo}
        </foreach>
    </update>

    <update id="updateExtraImageByExtraImage">
        UPDATE roomimage_tb
        SET
        original_name= #{originalName}, save_name = #{saveName}, file_size = #{fileSize},
        created_date = #{createdDate}
        WHERE roomimage_no = #{roomImageNo}
    </update>
    <update id="updateRoomProgress">
        UPDATE room_tb
        SET room_progress = '1'
        WHERE room_no = #{roomNo}
    </update>

    <update id="updateRoomInfo">
        UPDATE room_tb
        SET
            room_title = #{roomTitle}, room_content = #{roomContent}, room_div = #{roomDiv},
            postcode = #{postcode}, address = #{address}, detail_address = #{detailAddress},
            extra_address = #{extraAddress}

        WHERE room_no = #{roomNo}

    </update>

    <delete id="deleteRoomByRoomNo">
        DELETE FROM room_tb
        WHERE room_no = #{roomNo}
    </delete>
    <delete id="deleteRoomOptionByRoomNo">
        DELETE FROM roomoption_tb
        WHERE room_no = #{roomNo}
    </delete>

    <delete id="deleteRoomOptionImagesByRoomOptionNo">
        DELETE FROM roomoptionimage_tb
        WHERE roption_no IN(
        <foreach collection="list" item="roomNo" separator=",">
            #{roomNo}
        </foreach>
        )

    </delete>

    <delete id="deleteRoomImageByRoomNo">
        DELETE FROM roomimage_tb
        WHERE room_no = #{roomNo}
    </delete>

    <delete id="deleteOptionImage">
        DELETE FROM roomoptionimage_tb
        WHERE roptionimage_no = #{optionImageNo}
    </delete>

    <delete id="deleteOption">
        DELETE FROM roomoption_tb
        WHERE roption_no = #{optionNo}
    </delete>


    <delete id="deleteBookmarkByRoomNo">
        DELETE from bookamrk_tb
        WHERE room_no = #{roomNo}
    </delete>
    <delete id="deleteErrorRoom">
        DELETE from room_tb
        WHERE room_no = #{roomNo}
    </delete>


</mapper>