<!DOCTYPE html>
<html lang="ko"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/config}">
<head>
    <link rel="stylesheet" href="/css/reserve/detail.css">

    <title>ShareSpot</title>
</head>


<div layout:fragment="content">
    <div class="detail-wrap">
        <div class="images-container">
            <div class="thumbnail-img-container">
                <img class="thumbnail-img" th:src="${filePath} + '/' + ${thumbnailImage.createdDate} + '/' + ${thumbnailImage.saveName}" th:alt="${thumbnailImage.originalName}">
            </div>

            <div th:if="${extraImages.size()} >= 4">
                <div th:with="images = ${extraImages.subList(0, 4)}" class="extra-img-container">
                    <div th:each="extraImages : ${images}" class="extra-img-div">
                        <img class="extra-img" th:src="${filePath} + '/' + ${extraImages.createdDate} + '/' + ${extraImages.saveName}" th:alt="${extraImages.originalName}">
                    </div>
                </div>

            </div>

            <div th:unless="${extraImages.size()} >= 4">

                <div class="extra-img-container">
                    <div th:each="extraImages : ${extraImages}" class="extra-img-div">
                        <img class="extra-img" th:src="${filePath} + '/' + ${extraImages.createdDate} + '/' + ${extraImages.saveName}" th:alt="${extraImages.originalName}">
                    </div>

                </div>
            </div>


        </div>

        <div class="title-container">
            <h1 th:text="${roomInfo.roomTitle}"></h1>
            <span th:switch="${roomInfo.roomDiv}">
                <span th:case="'studyroom'">스터디룸</span>
                <span th:case="'meeting'">회의실</span>
                <span th:case="'office'">개인오피스</span>
            </span>

            <!-- 방 설명 칸 -->
            <div class="contnent-container">
                <p th:text="${roomInfo.roomContent}"></p>
            </div>
        </div> <!-- title-container END -->

        <div id="option-wrap">
            <div class="option-title">
                <h2>옵션</h2>
            </div>

            <div class="option-sort">
                <div id="option-container">
                    <div th:each="optionList : ${roomOptionInfo}" class="option-list">
                        <input th:value="${optionList.roptionNo}" type="hidden">
                        <div class="image-container">
                            <img src="https://www.dummyimage.com/90x90/000/fff" alt="none">
                        </div>

                        <div>
                            <span th:text="${optionList.roptionTitle}"></span>
                            <span th:text="${optionList.roptionPrice}"></span>
                        </div>

                    </div>
                </div>

                <div class="reserveOptionAjax"></div>
            </div>
        </div>

    </div> <!-- detail-wrap END -->
</div> <!-- layout:fragment="content" END -->


<th:block layout:fragment="script">
    <script th:inline="javascript" type="text/javascript">

    $(document).ready(function(){

    });

    $(".option-list").on("click", function () {
        var roptionNo = $(this).find('input').val();

        $.ajax({
            type: 'get',           // 타입 (get, post, put 등등)
            url: './detail/reserve-option-ajax',  // 요청할 서버url
            dataType: 'html',       // 데이터 타입 (html, xml, json, text 등등)
            data: {  // 보낼 데이터 (Object , String, Array)
                roomNo: "[[${roomInfo.getRoomNo}]]",
                sellerNo : "[[${roomInfo.getSellerNo}]]",
                optionNo : roptionNo,
            },
            success: function (result) { // 결과 성공 콜백함수
                $(".reserveOptionAjax").html(result)
            },
            error: function (request, status, error) {
                console.log(error)
            }
        })

    });

    </script>
</th:block>


</html>