<!DOCTYPE html>
<html lang="ko"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/config}" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/css/reserve/detail.css">

    <title>ShareSpot</title>
</head>


<div layout:fragment="content">
    <div class="detail-wrap">
        <div class="images-container">
            <div class="thumbnail-img-container">
                <img class="thumbnail-img" th:src="${filePath} + '/' + ${thumbnailImage.createdDate} + '/' + ${thumbnailImage.saveName}" th:alt="${thumbnailImage.originalName}">
            </div>
            <div th:if="${extraImages.size()} >= 4">
                <div th:with="images = ${extraImages.subList(0, 4)}" class="extra-img-container">
                    <div th:each="extraImages : ${images}" class="extra-img-div">
                        <img class="extra-img" th:src="${filePath} + '/' + ${extraImages.createdDate} + '/' + ${extraImages.saveName}" th:alt="${extraImages.originalName}">
                    </div>
                    <button class="btn whole-image-view btn-light" data-bs-toggle="modal" data-bs-target="#whole-image-view-modal">
                        <span><i class="bi bi-grid-3x3-gap-fill"></i></span>
                        <span>전체 사진 보기</span>
                    </button>
                </div>
            </div>

            <div th:unless="${extraImages.size()} >= 4">
                <div class="extra-img-container">
                    <div th:each="extraImages : ${extraImages}" class="extra-img-div">
                        <img class="extra-img" th:src="${filePath} + '/' + ${extraImages.createdDate} + '/' + ${extraImages.saveName}" th:alt="${extraImages.originalName}">
                    </div>
                </div>
            </div>

        </div>

        <div class="title-container">
            <div style="display: flex; justify-content: space-between;">
                <h1 th:text="${roomInfo.roomTitle}"></h1>
                <button style="margin-right: 10px;" class="btn bookmark-btn" sec:authorize="isAuthenticated()">
                    <span class="bookmark-icon-container">
                        <i th:if="${bookmark}" style="font-size: 15px" class="bi bi-bookmark-fill"></i>
                        <i th:unless="${bookmark}" style="font-size: 15px" class="bi bi-bookmark"></i>
                    </span>
                    <span style="font-size: 15px;">북마크</span>
                </button>
            </div>

            <span th:switch="${roomInfo.roomDiv}">
                <span th:case="'studyroom'">스터디룸</span>
                <span th:case="'meeting'">회의실</span>
                <span th:case="'office'">개인오피스</span>
            </span>

            <!-- 방 설명  -->
            <div class="contnent-container">
                <p th:text="${roomInfo.roomContent}"></p>
            </div>
        </div> <!-- title-container END -->

        <!--   옵션     -->
        <div id="option-wrap">
            <div class="option-title">
                <h2>옵션</h2>
            </div>

            <div class="option-sort">
                <div id="option-container">
                    <div th:each="optionData : ${optionData}" class="option-list">
                        <input th:value="${optionData.roptionNo}" type="hidden">
                        <div class="option-image-container">
                            <img th:if="${optionData.roptionImageNo} != '0'" th:src="${filePath} + '/' + ${optionData.createdDate} + '/' + ${optionData.saveName}" th:alt="${optionData.originalName}">
                            <img th:unless="${optionData.roptionImageNo} != '0'" src="https://www.dummyimage.com/90x90/000/fff" alt="none">
                        </div>

                        <div>
                            <span th:text="${optionData.roptionTitle}"></span>
                            <span th:text="${optionData.roptionContent}"></span>
                            <span th:text="${optionData.roptionPrice}"></span>
                        </div>

                    </div>
                </div>

                <div class="reserveOptionAjax"></div>
            </div>
        </div>



    </div> <!-- detail-wrap END -->

    <!-- Modal -->
    <div class="modal fade" id="whole-image-view-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>

            </div>
        </div>
    </div>

</div> <!-- layout:fragment="content" END -->

<th:block layout:fragment="script">
    <script th:inline="javascript" type="text/javascript">

    $(document).ready(function(){

    });

    $(".option-list").on("click", function () {
        var roptionNo = $(this).find('input').val();

        $.ajax({
            type: 'get',           // 타입 (get, post, put 등등)
            url: './detail/reserve-option-ajax',  // 요청할 서버url
            dataType: 'html',       // 데이터 타입 (html, xml, json, text 등등)
            data: {  // 보낼 데이터 (Object , String, Array)
                roomNo: "[[${roomInfo.getRoomNo}]]",
                sellerNo : "[[${roomInfo.getSellerNo}]]",
                optionNo : roptionNo,
            },
            success: function (result) { // 결과 성공 콜백함수
                $(".reserveOptionAjax").html(result)
            },
            error: function (request, status, error) {
                console.log(error)
            }
        })

    });

    $('.bookmark-btn').click(function () {
        const $this = $(this);
        const $bookmark = $this.find('.bookmark-icon-container');
        $.ajax({
            type: 'post',           // 타입 (get, post, put 등등)
            url: '/devroom/member/bookmark',  // 요청할 서버url
            dataType: 'html',       // 데이터 타입 (html, xml, json, text 등등)
            data: {  // 보낼 데이터 (Object , String, Array)
                roomNo: "[[${roomInfo.getRoomNo}]]"

            },
            success: function (result) { // 결과 성공 콜백함수
                console.log(result);

                if(result === "true"){

                    $bookmark.html('<i style="font-size: 15px" class="bi bi-bookmark-fill"></i>');
                }else if(result === "false") {
                    $bookmark.html('<i style="font-size: 15px" class="bi bi-bookmark"></i>')
                }
            },
            error: function (request, status, error) {
                console.log(error)
            }
        })
    })

    </script>
</th:block>


</html>