<!DOCTYPE html>
<html lang="ko"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/config}">
<head>

    <link rel="stylesheet" th:href="@{/css/reserve/list.css}" >

    <title>ShareSpot</title>
</head>

<div layout:fragment="content">

    <div class="list-wrapper">
    <div id="sideOption-menu">
        <div class="container-fluid" style="margin-top: 10px">

            <form class="d-flex" id="searchForm" role="search" onsubmit="return false;" autocomplete="off">
                <div class="option-box">
                    <div class="keywordSearch">
                        <input class="form-control me-2" id="keyword" name="keyword" type="search" placeholder="검색어를 입력하세요." aria-label="Search">
                    </div>

                <div class="divOptionSearch">
                    <div>공간</div>
                    <label class="form-check-label"><input name="checkDiv" type="checkbox" value="studyroom" class="form-check-input">스터디룸</label>
                    <label class="form-check-label"><input name="checkDiv" type="checkbox" value="meeting" class="form-check-input">회의룸</label>
                    <label class="form-check-label"><input name="checkDiv" type="checkbox" value="office" class="form-check-input">오피스</label>
                </div>

                <hr/>

                <div class="location-option-search">
                    <div>지역</div>
                    <label class="form-check-label"><input name="locOption" type="checkbox" value="서울" class="form-check-input">서울</label>
                    <label class="form-check-label"><input name="locOption" type="checkbox" value="경기" class="form-check-input">경기</label>
                </div>


<!--                    <div class="locOptionSearch">-->
<!--                        <select class="locOption form-select" name="locOption" >-->
<!--                            <option value="">=== 지역 ===</option>-->
<!--                            <option value="서울">서울</option>-->
<!--                            <option value="경기">경기</option>-->
<!--                            <option value="대전">대전</option>-->
<!--                            <option value="부산">부산</option>-->
<!--                        </select>-->
<!--                    </div>-->

                    <button class="btn btn-primary option-button" onclick="movePage(1);" type="submit">적용</button>

                </div>
            </form>
        </div>
    </div>

    <div id="list-container">
        <div th:each="roomList : ${roomList.list}" id="item-container" th:onclick="|location.href='@{/devroom/reserve/detail(roomNo=${roomList.roomNo})}'|">
            <img src="https://www.dummyimage.com/200x200/000/fff" alt="..." style="border-radius: 20px; padding: 10px; width: 250px; height: 250px;">
            <div id="item-content">
                <span th:text="${roomList.roomTitle}" style="font-size: 28px;"></span>
                <span th:switch="${roomList.roomDiv}" style="font-size: 17px;">
                    <span th:case="'studyroom'">스터디룸</span>
                    <span th:case="'meeting'">회의실</span>
                    <span th:case="'office'">개인오피스</span>
                </span>
                <span th:text="${roomList.address} + ${roomList.detailAddress}" style="font-size: 17px;"></span>

            </div>
        </div> <!-- room-container -->

        <div class="pagination-container"></div>

    </div> <!-- list-container end -->
    </div>
</div> <!-- content end -->

<th:block layout:fragment="script">
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        $(document).ready(function(){
            setQueryStringParams();
            const test = [[ ${params} ]]
            console.log(test);
            const test1 = [[ ${roomList.pagination} ]]
            console.log(test1);

            console.log(location.search);

            sideOptionMovement();
            findAllList();

        });
        
        function sideOptionMovement() {
            $(window).scroll(function () {
                const containerFluid = $('.container-fluid');
                const scrollPosition = $(window).scrollTop();
                const maxTop = 20;
                containerFluid.css('top', Math.max(20 - scrollPosition / 10, maxTop) + 'px');

                const windowHeight = $(window).height();
                const documentHeight = $(document).height();

                if(scrollPosition + windowHeight >= documentHeight) {
                    containerFluid.css('top', '20px');
                } else if(scrollPosition === 0) {
                    containerFluid.css('top', '110px');
                }
            })
        }

        function setQueryStringParams() {
            if (!location.search) {
                return false;
            }

            const form = $('#searchForm');

            new URLSearchParams(location.search).forEach((value, key) => {
                console.log(`${key}:${value}`);
                const inputField = form.find(`[name="${key}"]`);
                console.log("---" + inputField.length);

                if (inputField.length) {
                    inputField.val(value);
                }
            });
        }

        function findAllList() {
            const roomList = [[${roomList.list}]];
            console.log(roomList);
            if (!roomList.length) {
                $('#list-container').html('<b>방이 없어요</b>');
                drawPage();
            }

            const pagination = [[ ${roomList.pagination} ]];

            //@ModelAttribute를 이용해서 뷰(HTML)로 전달한 SearchDTo탑의 객체인 params를 의미
            const params = [[ ${params} ]];

            drawPage(pagination, params);
        }

        // 페이징
        function drawPage(pagination, params) {
            // 필수 파라미터가 없는 경우 html을 제거
            if(!pagination || !params) {
                $('.pagination-container').html('');
                throw new Error('Missing required parameters...');
            }

            let html = `
                <div aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                `;

            if (pagination.prevPage) {
                html += `
                <li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="movePage(1)">첫 페이지</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="movePage(${pagination.startPage - 1})">이전 페이지</a></li>
                `;
            }

            html += '<li class="page-item">';
            for (let i = pagination.startPage; i <= pagination.endPage; i++) {
                html += (i !== params.page)
                    ? `<li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="movePage(${i});">${i}</a></li>`
                    : `<li class="page-item active"><span class="page-link">${i}</span></li>`
            }
            html += '</li>';

            if (pagination.nextPage) {
                html += `
                    <li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="movePage(${pagination.endPage} + 1);" class="page_bt next">다음 페이지</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="movePage(${pagination.totalPageCount});" class="page_bt last">마지막 페이지</a></li>
                </ul>
                </div>
                `;
            }
            console.log(html);
            $('.pagination-container').html(html);
        }

        function movePage(page) {

            const keywordValue = $("#keyword").val();



            const searchLocationValue = [];
            const searLocationVal = $("input[name=locOption]:checked").each(function () {
                const val = $(this).val();
                searchLocationValue.push(val);
            })


            const checkDivValue = [];
            const searTypeValue = $("input[name=checkDiv]:checked").each(function () {
                const chk = $(this).val();
                checkDivValue.push(chk);
            })



            // 1. drawPage( )의 각 버튼에 선언된 onclick 이벤트를 통해 전달받는 page(페이지 번호)를 기준으로 객체 생성
            const queryParams = {
                page: (page) ? page : 1,
                recordSize: 10,
                pageSize: 5,
                keyword: keywordValue,
                searchLocation: searchLocationValue,
                searchDiv: checkDivValue

            }
            /*
             * 2. location.pathname : 리스트 페이지의 URI("/post/list.do")를 의미
             *    new URLSearchParams(queryParams).toString() : queryParams의 모든 프로퍼티(key-value)를 쿼리 스트링으로 변환
             *    URI + 쿼리 스트링에 해당하는 주소로 이동
             *    (해당 함수가 리턴해주는 값을 브라우저 콘솔(console)에 찍어보시면 쉽게 이해하실 수 있습니다.)
             */
            location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
        }



        /*]]>*/
    </script>



</th:block>



</html>